.fl-node-5b707a2025802 {
    background-color: #ffffff;
    width: 100%;
	height: 35em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    display: flex;
	justify-content: center;
	font-size: 85%;
}

.fl-node-5b707a2025802.home {
	height: 54em;
}

.fl-node-5b707a2025802 .fl-module-content{
	margin: 0 4.2%;
	align-self: center;
	width: 100%;
}

.fl-node-5b707a2025802 .content{
	width: 100%;
	max-width: 702px;
	float: left;
}

.fl-node-5b707a2025802 .content.right{
	max-width: 629px;
}

.fl-node-5b707a2025802 hr{
	border: 0;
    height: 1px;
    background: #232625;
    margin: 1.5em auto 1em;
}

.fl-node-5b707a2025802 h1{
	color: #232625;
	font-weight: 400;
	font-family: 'Helvetica Neue LT W01_75 Bold';
	margin: 0;
	font-size: 3.8em;
	line-height: 1.1em;
}

.fl-node-5b707a2025802.home h1 {
	font-size: 4.2em;
}

.fl-node-5b707a2025802 h2{
	color: #232625;
	font-weight: 400;
	font-family: 'Helvetica Neue LT W01_75 Bold';
	margin: 0;
	font-size: 2.65em;
	line-height: 1.25em;
}

.fl-node-5b707a2025802 p{
	color: #232625;
	font-size: 1.25em;
	margin: 0.5em 0 1em;
}

.fl-node-5b707a2025802 h3{
	color: #232625;
	font-weight: 400;
	font-family: 'Helvetica Neue LT W01_75 Bold';
	font-size: 1.17em;
	margin: 0;
}

.fl-node-5b707a2025802 h3 span{
	height: 0.8em;
	width: 0.8em;
	display: inline-block;
	background-color: #e92e2f;
	margin-right: 0.5em;
}

@media only screen and (min-width: 768px) {
	.fl-node-5b707a2025802 {
    	font-size: 100%;
	}
}