.sm-row-content{margin-bottom:10px}.sm-row-content select{display:block;width:50%;box-sizing:border-box}.sm-row-content input[type="text"]{display:block;width:50%;box-sizing:border-box}.sm-row-content input[type="checkbox"]{margin-left:5px}.sm-row-content textarea{display:block;width:50%;box-sizing:border-box;height:150px}

/*# sourceMappingURL=assay_script.map */