.sm-row-content{
	margin-bottom: 10px;
	label{
		
	}
	select{
		display: block;
		width: 50%;
		box-sizing: border-box;
	}
	input[type="text"]{
		display: block;
		width: 50%;
		box-sizing: border-box;
	}
	input[type="checkbox"]{
		margin-left: 5px;
	}
	textarea{
		display: block;
		width: 50%;
		box-sizing: border-box;
		height: 150px;
	}
}