@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

#cookie_action_close_header_reject {
  position: absolute !important;
  right: 3% !important;
  border-radius: 50% !important;
  padding: 8px 11px !important;
  top: 0.8em !important;
}

#cookie_action_close_header {
  margin: 0 1% !important;
}

body {
  font-family: "Helvetica Neue LT W01_51488890", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #232827;
  font-size: 80%;
}
body .fl-row[data-node] .fl-row-content-wrap {
  margin: 0 auto;
}
body #sizetracker, body #sizetrackernl {
  border: 0;
  padding: 0;
  outline: 0;
  display: block;
}
body .trigger {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: white;
  z-index: -2;
  opacity: 0;
}
body h1 {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-weight: 400;
  font-size: 2.65em;
  margin: 0;
}
body h2 {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-weight: 400;
  font-size: 2.2em;
  margin: 0;
}
body h3 {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-weight: 400;
  font-size: 1.9em;
  margin: 0;
}
body h3 span.section-title {
  padding: 0.3em 0 0;
  border-top: 1px solid #232827;
  display: inline-block;
  margin: 3.5em 0 0;
  position: relative;
  /*
  			&:before{
  				content: "";
  				height: 1px;
  				width: 50%;
  				max-width: 494px;
  				background-color: $color_gray;
  				top: 0;
  				left: 0;
  				position: absolute;
  			}
  */
}
body h4 {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-weight: 400;
  font-size: 1.51em;
  margin: 0;
}
body h4 span.section-title {
  max-width: 494px;
  padding: 0.3em 0 0;
  border-top: 1px solid #232827;
  display: block;
  margin: 3.5em 0 0;
}
body h5 {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-weight: 400;
  font-size: 1.35em;
  margin: 0;
}
body h5 span.section-title {
  max-width: 494px;
  padding: 0.3em 0 0;
  border-top: 1px solid #232827;
  display: block;
  margin: 3.5em 0 0;
}
body hr {
  border: 0;
  height: 1px;
  background: #000;
  width: 100%;
  margin: 0.75em auto;
}
body p {
  font-size: 1.17em;
  line-height: 1.6em;
}
body .fl-row-content-wrap {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  max-width: 1540px;
}
body #alert_banner {
  background-color: #B8E652;
}
body #alert_banner .container {
  text-align: center;
  padding: 0.5em;
  position: relative;
  width: 90%;
}
body #alert_banner .container p {
  margin: 0;
  font-family: “Helvetica Neue LT W01_51488890”, Helvetica, Arial, sans-serif;
}
body #alert_banner .container p i {
  margin-right: 10px;
}
body #alert_banner .container p a {
  text-decoration: underline;
}
body #alert_banner .container a.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
  font-size: 2em;
  font-weight: 300;
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  -o-transition-property: opacity 0.15s linear;
  -ms-transition-property: opacity 0.15s linear;
  transition-property: opacity 0.15s linear;
}
body #alert_banner .container a.close:hover {
  opacity: 0.5;
}
body img {
  max-width: 100%;
  height: auto;
}
body img.alignleft {
  float: left;
  margin: 1em;
}
body img.alignright {
  float: right;
  margin: 1em;
}
body .video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
body .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body a {
  text-decoration: none;
  color: #232827;
}
body a.button {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 0.88em;
  padding: 0.82em 1.55em;
  border-radius: 5px;
}
body a.button.black {
  color: white;
  background-color: black;
  border: 2px solid black;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body a.button.black:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
body a span.button {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 0.8em;
  padding: 0.31em 1.07em;
  border-radius: 5px;
}
body a span.button.black {
  color: white;
  background-color: black;
  border: 2px solid black;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body a span.button.black:hover {
  background-color: white;
  color: black;
}
body a span.button.white {
  background-color: white;
  border: 2px solid white;
  color: #232827;
  display: inline-block;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body a span.button.white:hover {
  background-color: #232827;
  color: white;
  border: 2px solid #232827;
}
body a span.button.ghost {
  background-color: white;
  border: 2px solid #232827;
  color: #232827;
  display: inline-block;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body a span.button.ghost:hover {
  background-color: #232827;
  color: white;
  border: 2px solid #232827;
}
body a span.button.gray {
  background-color: #232827;
  border: 2px solid #232827;
  color: white;
  display: inline-block;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body a span.button.gray:hover {
  background-color: white;
  color: #232827;
  border: 2px solid #232827;
}
body .fl-col-width-callout-1 {
  padding: 4em 0 0;
}
body .fl-col-width-callout-3 {
  padding: 1em 0 4em;
}
body .fl-col-width-callout-3 hr {
  display: none;
}
body .fl-col-sidebars-1, body .fl-col-sidebars-2 {
  margin: 3em auto;
  padding: 1em 0;
}
body .fl-col-sidebars-1:first-child {
  display: none;
}
body .fl-col-width-1-3 hr {
  display: none;
}
body .fl-col-width-1-3:first-child {
  padding: 3em 0em 0;
}
body .fl-col-width-1-3:first-child hr {
  display: block;
}
body .fl-col-width-1-3:last-child {
  padding-bottom: 3em;
}
body .entry-content-page ul li {
  font-size: 1.17em;
  position: relative;
  margin-bottom: 1.2em;
  line-height: 1.6em;
  /*
  				&:before{
  					content: "*";
  					color: $color_gray;
  				    font-size: 0.6em;
  				    position: absolute;
  				    top: 0.4em;
  				    left: -1.5em;
  				}
  */
}
body .entry-content-page ul li:last-child {
  margin-bottom: 0;
}
body .entry-content-page ul li li {
  font-size: 1em;
}
body .entry-content-page.post h1 {
  font-size: 2.35em;
  border-top: 1px solid #232827;
  padding-top: 0.25em;
  margin-top: 1.3em;
}
body .entry-content-page.post p.byline {
  opacity: 0.6;
  font-size: 1.05em;
}
body .entry-content-page.post p.byline.date {
  margin-bottom: 0;
}
body .entry-content-page.post p.byline.location {
  margin-top: 0;
}
body .entry-content-page.post .img {
  background-color: #232827;
  width: 100%;
  height: 27em;
  border-radius: 5px;
  margin: 2em auto 3em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body .entry-content-page.post .info {
  border-top: 1px solid #232827;
  padding-top: 1.6em;
  margin-top: 2.6em;
  overflow: hidden;
  margin-bottom: 6em;
}
body .entry-content-page.post .info .tags {
  float: left;
  width: 100%;
  padding-bottom: 1.5em;
}
body .entry-content-page.post .info .tags p {
  float: left;
  line-height: 1;
  margin: 0;
  margin-right: 0.9em;
}
body .entry-content-page.post .info .tags a {
  background-color: #232827;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.39em 1.5em;
  margin-right: 0.7em;
  border: 1px solid #232827;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body .entry-content-page.post .info .tags a:last-child {
  margin-right: 0;
}
body .entry-content-page.post .info .tags a:hover {
  background-color: transparent;
  color: #232827;
}
body .entry-content-page.post .info .sharethis-inline-share-buttons {
  float: left;
}
body .entry-content-page.post .info .sharethis-inline-share-buttons .st-btn[data-network=sharethis] {
  background-color: transparent !important;
  min-height: 0 !important;
  height: initial !important;
  line-height: initial !important;
  padding: 0 !important;
}
body .entry-content-page.post .info .sharethis-inline-share-buttons .st-btn[data-network=sharethis]:hover {
  top: 0 !important;
}
body .entry-content-page.post .info .sharethis-inline-share-buttons .st-btn[data-network=sharethis] svg {
  fill: #232827 !important;
  width: 14px !important;
  height: 14px !important;
  top: 3px !important;
  padding-right: 3px;
}
body .entry-content-page.post .info .sharethis-inline-share-buttons .st-btn[data-network=sharethis] span {
  color: #232827 !important;
  display: inline-block !important;
  font-weight: bold !important;
  min-width: 0 !important;
  padding: 0 !important;
  font-size: 0.94em;
  line-height: initial !important;
}
body .resource_block {
  margin-top: 0.5em;
}
body .resource_block .content img {
  border-radius: 5px;
}
body .resource_block .content p {
  margin: 0.6em 0 0.4em;
}
body .resource_block .content p.title {
  font-family: "Helvetica Neue LT W01_75 Bold";
  line-height: 1.3em;
  font-size: 1.55em;
}
body .resource_block .content p.type {
  opacity: 0.6;
  font-size: 1.05em;
}
body .fl-module-content {
  margin: 0;
}
body .fl-col-small {
  max-width: 100%;
}
body .container {
  width: 94%;
  margin: 0 auto;
  max-width: 1540px;
}
body .container.post .entry-content-page {
  max-width: 714px;
  width: 100%;
  margin: 0 auto;
}
body .container.resource .entry-content-page {
  max-width: 100%;
}
body .container.resource .entry-content-page .resource_content {
  max-width: 714px;
  width: 100%;
  margin: 0 auto;
}
body .container.resource .entry-content-page .img {
  border: 1px solid #232827;
  display: flex;
}
body .container.resource .entry-content-page .img .image {
  width: 50%;
  float: left;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body .container.resource .entry-content-page .img .copy {
  width: 50%;
  float: left;
  align-self: center;
}
body .container.resource .entry-content-page .img .copy .contents {
  width: 93%;
  margin: 0 auto;
}
body .container.resource .entry-content-page .img .copy .contents h1, body .container.resource .entry-content-page .img .copy .contents p, body .container.resource .entry-content-page .img .copy .contents a {
  color: white;
}
body .container.resource .entry-content-page .img .copy .contents h1 {
  margin-top: 0;
  padding-top: 0;
}
body .container.resource .entry-content-page .img .copy .contents a {
  font-size: 1.25em;
  font-weight: bold;
}
body .container.resource .entry-content-page .img .copy .contents a i {
  padding-left: 7px;
}
body .container.resource .entry-content-page .img .copy .contents p.type {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
body .container.event .img {
  background-color: #232827;
  width: 100%;
  height: 27em;
  border-radius: 5px;
  margin: 2em auto 3em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body .container.event h1 {
  border-top: 0px;
}
body header {
  padding: 1.9em 0;
  position: relative;
  z-index: 5;
}
body header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  z-index: 6;
  -webkit-box-shadow: 0px 5px 34px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 34px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 34px -10px rgba(0, 0, 0, 0.5);
}
body header #nav_holder {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  height: 100%;
  overflow-x: scroll;
  opacity: 0;
  display: none;
}
body header a.logo {
  position: relative;
  z-index: 3;
}
body header a.logo img {
  width: 165px;
  max-width: 244px;
  height: auto;
}
body header a.menu_open {
  position: absolute;
  right: 0;
  font-size: 24px;
  right: 2.5%;
  top: 1.6em;
}
body header a.menu_close {
  position: absolute;
  right: 0;
  font-size: 30px;
  right: 2.5%;
  top: 1.15em;
}
body header a.menu_close i {
  font-weight: 500;
}
body header #utility_nav_mobile {
  display: block;
  width: calc(100% - 70px);
  border-top: 1px solid #232827;
  padding-top: 1em;
  margin: 1em auto;
}
body header #utility_nav_mobile #menu-utility-nav-1 {
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5em;
  text-align: left;
  font-size: 1.25em;
}
body header #utility_nav_mobile #menu-utility-nav-1 li {
  display: block;
  position: relative;
  margin-bottom: 1.5em;
}
body header #utility_nav_mobile #menu-utility-nav-1 li:after {
  /*
  						content: "|";
  						padding: 0 5px 0 7px;
  */
}
body header #utility_nav_mobile #menu-utility-nav-1 li:last-child {
  margin: 0;
}
body header #utility_nav_mobile #menu-utility-nav-1 li:last-child:after {
  display: none;
}
body header #utility_nav_mobile .button.black {
  display: block;
  width: 100%;
  padding: 0.813em 0;
  height: initial;
  text-align: center;
  overflow: hidden;
  font-size: 1.25em;
}
body header #utility_nav {
  overflow: hidden;
  display: none;
}
body header #utility_nav a.button {
  float: right;
  display: inline-block;
  margin-left: 1.9em;
}
body header #main_nav {
  margin-top: 7.5em;
  position: relative;
  overflow: hidden;
}
body header #main_nav a.search {
  float: right;
  color: #a8085c;
  font-size: 1.31em;
  display: none;
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  -o-transition-property: opacity 0.15s linear;
  -ms-transition-property: opacity 0.15s linear;
  transition-property: opacity 0.15s linear;
}
body header #main_nav a.search:hover {
  opacity: 0.75;
}
body header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
body header ul .sub-menu {
  display: none;
  position: relative;
  width: 100%;
  border-radius: 0;
  margin-left: 0;
  left: -25px;
  z-index: 2;
  margin-top: 2em;
  margin-bottom: 2em;
}
body header ul .sub-menu li {
  background-color: white;
  width: 100%;
  border-top: 1px solid #232827;
  /*
  				    border-left: 1px solid $color_gray;
  				    border-right: 1px solid $color_gray;
  */
  font-size: 0.88rem;
  margin-right: 0 !important;
  position: relative;
  display: block !important;
  padding: 0 !important;
}
body header ul .sub-menu li a:hover:before {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: white;
  position: absolute;
  top: 0.9em;
  font-size: 18px;
  right: 4%;
  z-index: 5;
  display: block !important;
  background-color: transparent !important;
  left: auto;
}
body header ul .sub-menu li.menu-item-has-children {
  /*
  						&:after{
  							font-family: "Font Awesome 5 Pro";
  						    content: "\f138";
  						    color: white;
  						    position: absolute;
  						    top: 0.9em;
  						    font-size: 18px;
  						    right: 4%;
  						    z-index: 5;
  						}
  */
}
body header ul .sub-menu li a {
  display: block;
  padding: 1.05em 9% 1.05em 13%;
  font-size: 1.2em !important;
  left: 0 !important;
}
body header ul .sub-menu li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #232827;
}
body header ul .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
body header ul .sub-menu .sub-menu {
  display: none;
  left: -418px;
  padding-top: 0;
  padding-right: 2.2em;
  left: 0;
  padding-right: 0;
  margin: 0;
  border-radius: 0px;
  border-bottom: 0px;
  margin: 1em auto 2em;
}
body header ul .sub-menu .sub-menu:before {
  content: "";
  position: absolute;
  right: calc(2.2em - 7px);
  top: 1.75em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7px;
  border-color: transparent transparent transparent #ffffff;
}
body header ul .sub-menu .sub-menu li {
  border: 0px;
}
body header ul .sub-menu .sub-menu li a {
  font-size: 1em !important;
  padding: 1.05em 15%;
}
body header ul li:before {
  content: "";
  display: none;
}
body header ul li.hover .sub-menu {
  display: block;
}
body header ul li.hover .sub-menu .sub-menu {
  display: none;
}
body header ul#menu-utility-nav, body header ul#menu-utility-nav-2 {
  line-height: 2.5em;
}
body header ul#menu-utility-nav li, body header ul#menu-utility-nav-2 li {
  display: inline-block;
  position: relative;
}
body header ul#menu-utility-nav li:before, body header ul#menu-utility-nav-2 li:before {
  content: "";
  display: none;
}
body header ul#menu-utility-nav li:after, body header ul#menu-utility-nav-2 li:after {
  content: "|";
  color: #d3d4d4;
  padding: 0 1.2em;
}
body header ul#menu-utility-nav li:last-child:after, body header ul#menu-utility-nav-2 li:last-child:after {
  display: none;
}
body header ul#menu-utility-nav li a, body header ul#menu-utility-nav-2 li a {
  font-size: 0.88em;
  position: relative;
}
body header ul#menu-utility-nav li a:after, body header ul#menu-utility-nav-2 li a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #232827;
  -moz-transition: width 0.15s linear;
  -webkit-transition: width 0.15s linear;
  -o-transition-property: width 0.15s linear;
  -ms-transition-property: width 0.15s linear;
  transition-property: width 0.15s linear;
}
body header ul#menu-utility-nav li a:hover:after, body header ul#menu-utility-nav-2 li a:hover:after {
  width: 100%;
}
body header ul.main_nav {
  width: 100%;
}
body header ul.main_nav li {
  position: relative;
  display: block;
  margin-right: 0;
  width: 100%;
  padding: 20px 25px;
}
body header ul.main_nav li a {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 1.5em;
  position: relative;
  left: 10px;
}
body header ul.main_nav li a span, body header ul.main_nav li a .item {
  position: relative;
  z-index: 2;
  display: inline-block;
}
body header ul.main_nav li a.target {
  z-index: 3;
}
body header ul.main_nav li a:before {
  width: 0.8em;
  height: 0.8em;
  content: "";
  position: absolute;
  left: -25px;
  top: 0.25em;
  display: none;
  opacity: 0;
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  -o-transition-property: opacity 0.15s linear;
  -ms-transition-property: opacity 0.15s linear;
  transition-property: opacity 0.15s linear;
}
body header ul.main_nav li a:hover:before {
  opacity: 1;
}
body header ul.main_nav li.services a:before {
  background-color: #45bbfa;
}
body header ul.main_nav li.services .sub-menu li a {
  -moz-transition: color 0.175s linear;
  -webkit-transition: color 0.175s linear;
  -o-transition-property: color 0.175s linear;
  -ms-transition-property: color 0.175s linear;
  transition-property: color 0.175s linear;
}
body header ul.main_nav li.services .sub-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background-color: #45bbfa;
  -moz-transition: opacity 0.175s linear;
  -webkit-transition: opacity 0.175s linear;
  -o-transition-property: opacity 0.175s linear;
  -ms-transition-property: opacity 0.175s linear;
  transition-property: opacity 0.175s linear;
}
body header ul.main_nav li.services .sub-menu li a.subopen, body header ul.main_nav li.services .sub-menu li a:hover {
  color: white;
}
body header ul.main_nav li.services .sub-menu li a.subopen:after, body header ul.main_nav li.services .sub-menu li a:hover:after {
  opacity: 1;
}
body header ul.main_nav li.services .sub-menu li a:before {
  display: none;
}
body header ul.main_nav li.about a:before {
  background-color: #b1005d;
}
body header ul.main_nav li.about .sub-menu li a {
  -moz-transition: color 0.175s linear;
  -webkit-transition: color 0.175s linear;
  -o-transition-property: color 0.175s linear;
  -ms-transition-property: color 0.175s linear;
  transition-property: color 0.175s linear;
}
body header ul.main_nav li.about .sub-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #b1005d;
  -moz-transition: opacity 0.175s linear;
  -webkit-transition: opacity 0.175s linear;
  -o-transition-property: opacity 0.175s linear;
  -ms-transition-property: opacity 0.175s linear;
  transition-property: opacity 0.175s linear;
}
body header ul.main_nav li.about .sub-menu li a.subopen, body header ul.main_nav li.about .sub-menu li a:hover {
  color: white;
}
body header ul.main_nav li.about .sub-menu li a.subopen:after, body header ul.main_nav li.about .sub-menu li a:hover:after {
  opacity: 1;
}
body header ul.main_nav li.about .sub-menu li a:before {
  display: none;
}
body header ul.main_nav li.resources a:before {
  background-color: #b1005d;
}
body header ul.main_nav li.resources .sub-menu li a {
  -moz-transition: color 0.175s linear;
  -webkit-transition: color 0.175s linear;
  -o-transition-property: color 0.175s linear;
  -ms-transition-property: color 0.175s linear;
  transition-property: color 0.175s linear;
}
body header ul.main_nav li.resources .sub-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #b1005d;
  -moz-transition: opacity 0.175s linear;
  -webkit-transition: opacity 0.175s linear;
  -o-transition-property: opacity 0.175s linear;
  -ms-transition-property: opacity 0.175s linear;
  transition-property: opacity 0.175s linear;
}
body header ul.main_nav li.resources .sub-menu li a.subopen, body header ul.main_nav li.resources .sub-menu li a:hover {
  color: white;
}
body header ul.main_nav li.resources .sub-menu li a.subopen:after, body header ul.main_nav li.resources .sub-menu li a:hover:after {
  opacity: 1;
}
body header ul.main_nav li.resources .sub-menu li a:before {
  display: none;
}
body header ul.main_nav li.expertise a:before {
  background-color: #aee049;
}
body header ul.main_nav li.expertise .sub-menu li a {
  -moz-transition: color 0.175s linear;
  -webkit-transition: color 0.175s linear;
  -o-transition-property: color 0.175s linear;
  -ms-transition-property: color 0.175s linear;
  transition-property: color 0.175s linear;
}
body header ul.main_nav li.expertise .sub-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background-color: #aee049;
  -moz-transition: opacity 0.175s linear;
  -webkit-transition: opacity 0.175s linear;
  -o-transition-property: opacity 0.175s linear;
  -ms-transition-property: opacity 0.175s linear;
  transition-property: opacity 0.175s linear;
}
body header ul.main_nav li.expertise .sub-menu li a.subopen, body header ul.main_nav li.expertise .sub-menu li a:hover {
  color: white;
}
body header ul.main_nav li.expertise .sub-menu li a.subopen:after, body header ul.main_nav li.expertise .sub-menu li a:hover:after {
  opacity: 1;
}
body header ul.main_nav li.expertise .sub-menu li a:before {
  display: none;
}
body header ul.main_nav li.innovations a:before {
  background-color: #ffb746;
}
body header ul.main_nav li.innovations .sub-menu li a {
  -moz-transition: color 0.175s linear;
  -webkit-transition: color 0.175s linear;
  -o-transition-property: color 0.175s linear;
  -ms-transition-property: color 0.175s linear;
  transition-property: color 0.175s linear;
}
body header ul.main_nav li.innovations .sub-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background-color: #ffb746;
  -moz-transition: opacity 0.175s linear;
  -webkit-transition: opacity 0.175s linear;
  -o-transition-property: opacity 0.175s linear;
  -ms-transition-property: opacity 0.175s linear;
  transition-property: opacity 0.175s linear;
}
body header ul.main_nav li.innovations .sub-menu li a.subopen, body header ul.main_nav li.innovations .sub-menu li a:hover {
  color: white;
}
body header ul.main_nav li.innovations .sub-menu li a.subopen:after, body header ul.main_nav li.innovations .sub-menu li a:hover:after {
  opacity: 1;
}
body header ul.main_nav li.innovations .sub-menu li a:before {
  display: none;
}
body header ul.main_nav li.hover a.opened:before {
  display: block;
}
body header ul.main_nav li.hover .sub-menu li.menu-item-has-children {
  /*
  									&:after{
  										font-family: "Font Awesome 5 Pro";
  									    content: "\f138";
  									    color: white;
  									    position: absolute;
  									    top: 0.9em;
  									    font-size: 18px;
  									    right: 4%;
  									    z-index: 5;
  									}
  */
}
body header .search_form_holder {
  position: relative;
  right: 0;
  z-index: 2;
  width: 0%;
  overflow: hidden;
  background-color: white;
  width: calc(100% - 70px);
  margin: 0 auto;
}
body header .search_form {
  position: relative;
  width: 100%;
}
body header .search_form input[type=text] {
  background-color: white;
  border: 2px solid #a9abac;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 17px;
  padding: 12px 19px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body header .search_form input[type=text]:hover, body header .search_form input[type=text]:focus {
  border: 2px solid #232827;
}
body header .search_form input[type=text] ::placeholder {
  color: #232827;
}
body header .search_form input[type=text] :-ms-input-placeholder {
  color: #232827;
}
body header .search_form input[type=text] ::-ms-input-placeholder {
  color: #232827;
}
body header .search_form .close {
  background-color: transparent;
  border: 0;
  outline: 0;
  float: right;
  display: inline-block;
  color: #a8085c;
  font-size: 27px;
  float: right;
  position: absolute;
  right: 0;
  top: 8px;
  display: none;
}
body header .search_form button {
  position: absolute;
  top: 11px;
  right: 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
  float: right;
  display: inline-block;
  color: #a8085c;
  font-size: 20px;
}
body header .search_form ::placeholder {
  color: #232827;
}
body header .search_form :-ms-input-placeholder {
  color: #232827;
}
body header .search_form ::-ms-input-placeholder {
  color: #232827;
}
body .home_col h1, body .home_col h2, body .home_col h3, body .home_col p {
  margin: 0;
}
body .hidden {
  display: none;
}
body .resource_holder, body .news_holder {
  overflow: hidden;
  margin: 5em 0;
}
body .resource_holder h4, body .news_holder h4 {
  font-weight: 400;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 1.1em;
  border-bottom: 1px solid #232827;
  padding: 0 0 1em 0;
  margin: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
body .resource_holder .item, body .news_holder .item {
  border-bottom: 1px solid #232827;
  overflow: hidden;
  padding: 1.625em 0px;
}
body .resource_holder .item .img, body .news_holder .item .img {
  width: 150px;
  height: 101px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  border-radius: 5px;
  float: left;
}
body .resource_holder .item .content, body .news_holder .item .content {
  float: left;
  width: calc(100% - 181px);
  margin-left: 31px;
}
body .resource_holder .item .content p, body .resource_holder .item .content a, body .news_holder .item .content p, body .news_holder .item .content a {
  margin: 0;
}
body .resource_holder .item .content p.title, body .resource_holder .item .content a.title, body .news_holder .item .content p.title, body .news_holder .item .content a.title {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 1.5em;
  margin-bottom: 0.55em;
  display: block;
}
body .resource_holder .item .content p.title:hover, body .resource_holder .item .content a.title:hover, body .news_holder .item .content p.title:hover, body .news_holder .item .content a.title:hover {
  text-decoration: underline;
}
body .resource_holder .item .content p.by, body .resource_holder .item .content a.by, body .news_holder .item .content p.by, body .news_holder .item .content a.by {
  opacity: 0.6;
  font-size: 1em;
}
body .resource_holder .item .content p.by span.category, body .resource_holder .item .content a.by span.category, body .news_holder .item .content p.by span.category, body .news_holder .item .content a.by span.category {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 34px;
}
body .resource_holder .item .content p.by span.category.video, body .resource_holder .item .content p.by span.category.webinar, body .resource_holder .item .content p.by span.category.recorded-webex, body .resource_holder .item .content a.by span.category.video, body .resource_holder .item .content a.by span.category.webinar, body .resource_holder .item .content a.by span.category.recorded-webex, body .news_holder .item .content p.by span.category.video, body .news_holder .item .content p.by span.category.webinar, body .news_holder .item .content p.by span.category.recorded-webex, body .news_holder .item .content a.by span.category.video, body .news_holder .item .content a.by span.category.webinar, body .news_holder .item .content a.by span.category.recorded-webex {
  background-image: url(../img/video_icon.png);
}
body .resource_holder .item .content p.by span.category.pdf, body .resource_holder .item .content p.by span.category.articles, body .resource_holder .item .content p.by span.category.presentation, body .resource_holder .item .content p.by span.category.scientific-poster, body .resource_holder .item .content a.by span.category.pdf, body .resource_holder .item .content a.by span.category.articles, body .resource_holder .item .content a.by span.category.presentation, body .resource_holder .item .content a.by span.category.scientific-poster, body .news_holder .item .content p.by span.category.pdf, body .news_holder .item .content p.by span.category.articles, body .news_holder .item .content p.by span.category.presentation, body .news_holder .item .content p.by span.category.scientific-poster, body .news_holder .item .content a.by span.category.pdf, body .news_holder .item .content a.by span.category.articles, body .news_holder .item .content a.by span.category.presentation, body .news_holder .item .content a.by span.category.scientific-poster {
  background-image: url(../img/pdf_icon.png);
  background-size: 15px;
}
body .resource_holder .item .content p.by span.category.whitepaper, body .resource_holder .item .content p.by span.category.case-study, body .resource_holder .item .content p.by span.category.white-papers, body .resource_holder .item .content a.by span.category.whitepaper, body .resource_holder .item .content a.by span.category.case-study, body .resource_holder .item .content a.by span.category.white-papers, body .news_holder .item .content p.by span.category.whitepaper, body .news_holder .item .content p.by span.category.case-study, body .news_holder .item .content p.by span.category.white-papers, body .news_holder .item .content a.by span.category.whitepaper, body .news_holder .item .content a.by span.category.case-study, body .news_holder .item .content a.by span.category.white-papers {
  background-image: url(../img/whitepaper_icon.png);
  background-size: 15px;
}
body .resource_holder .item .content p.by span.category.fact-sheet, body .resource_holder .item .content a.by span.category.fact-sheet, body .news_holder .item .content p.by span.category.fact-sheet, body .news_holder .item .content a.by span.category.fact-sheet {
  background-image: url(../img/icons/fact-sheet-icon.png);
  background-size: 15px;
}
body .resource_holder .item.news_item.sb .img, body .news_holder .item.news_item.sb .img {
  background-image: url(../img/icons/news.png);
  background-size: 50%;
}
body .resource_holder .item.blog_item.sb .img, body .news_holder .item.blog_item.sb .img {
  background-image: url(../img/icons/blog.png);
  background-size: 55%;
}
body .resource_holder .item.events_item.sb .img, body .news_holder .item.events_item.sb .img {
  background-image: url(../img/icons/event.png);
  background-size: 55%;
}
body .resource_holder a.more, body .news_holder a.more {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 1.13em;
  margin-top: 1.25em;
  float: right;
}
body .resource_holder a.more i, body .news_holder a.more i {
  color: #b30560;
  margin-left: 0.3em;
}
body .resource_holder .resources, body .news_holder .resources {
  overflow: hidden;
}
body .resource_holder .item, body .news_holder .item {
  width: 100%;
  border-bottom: 0;
  border-top: 1px solid #232827;
}
body .resource_holder .item.hide, body .news_holder .item.hide {
  display: none;
}
body .resource_holder a.more, body .news_holder a.more {
  border-top: 1px solid #232827;
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-top: 1.25em;
}
body form.assay_search {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
  padding: 3em 3%;
}
body form.assay_search h4 {
  margin-bottom: 1em;
}
body form.assay_search input[type=text] {
  box-sizing: border-box;
  background-color: white;
  outline: 0;
  border: 2px solid #a9abac;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 17px;
  width: 100%;
  padding: 12px 19px;
  margin-right: 1.65em;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body form.assay_search input[type=text]:hover, body form.assay_search input[type=text]:focus {
  border: 2px solid #232827;
}
body form.assay_search input[type=text] ::placeholder {
  color: #232827;
}
body form.assay_search input[type=text] :-ms-input-placeholder {
  color: #232827;
}
body form.assay_search input[type=text] ::-ms-input-placeholder {
  color: #232827;
}
body form.assay_search ::placeholder {
  color: #232827;
}
body form.assay_search :-ms-input-placeholder {
  color: #232827;
}
body form.assay_search ::-ms-input-placeholder {
  color: #232827;
}
body form.assay_search button[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 16px;
  padding: 14px 19px 14px;
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin: 1em 0;
  border: 2px solid black;
  cursor: pointer;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body form.assay_search button[type=submit] i {
  float: right;
  font-size: 0.9em;
  position: relative;
  top: 2px;
}
body form.assay_search button[type=submit]:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
body form.assay_search .filter {
  float: right;
  position: relative;
  width: 100%;
}
body form.assay_search .filter label {
  color: #232827;
  font-size: 13px;
  line-height: 48px;
  margin-right: 4%;
  float: left;
  width: 18%;
}
body form.assay_search .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 13px 19px;
  text-align: left;
  box-sizing: border-box;
  width: 307px;
  position: relative;
  width: 78%;
  float: right;
  cursor: pointer;
}
body form.assay_search .filter select::-ms-expand {
  display: none;
}
body form.assay_search .filter:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: black;
  position: absolute;
  top: 16px;
  font-size: 18px;
  right: 20px;
  font-weight: 900;
  cursor: pointer;
  pointer-events: none;
}
body form.resource_search {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 3em 3%;
}
body form.resource_search h4 {
  margin-bottom: 2em;
}
body form.resource_search h4 span.section-title {
  margin-top: 0;
  max-width: 100%;
}
body form.resource_search input[type=text] {
  box-sizing: border-box;
  background-color: white;
  outline: 0;
  border: 2px solid #a9abac;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 17px;
  width: 100%;
  padding: 12px 19px;
  margin-right: 1.65em;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body form.resource_search input[type=text]:hover, body form.resource_search input[type=text]:focus {
  border: 2px solid #232827;
}
body form.resource_search input[type=text] ::placeholder {
  color: #232827;
}
body form.resource_search input[type=text] :-ms-input-placeholder {
  color: #232827;
}
body form.resource_search input[type=text] ::-ms-input-placeholder {
  color: #232827;
}
body form.resource_search ::placeholder {
  color: #232827;
}
body form.resource_search :-ms-input-placeholder {
  color: #232827;
}
body form.resource_search ::-ms-input-placeholder {
  color: #232827;
}
body form.resource_search button[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #232827;
  color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 16px;
  padding: 13px 17px 13px;
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin: 1em 0;
  border: 2px solid #232827;
  cursor: pointer;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body form.resource_search button[type=submit] i {
  float: right;
  font-size: 0.9em;
  position: relative;
  top: 2px;
}
body form.resource_search button[type=submit]:hover {
  background-color: white;
  color: #232827;
}
body form.resource_search .filter {
  float: right;
  position: relative;
  width: 100%;
}
body form.resource_search .filter label {
  color: #232827;
  font-size: 13px;
  line-height: 48px;
  margin-right: 4%;
  float: left;
  width: 18%;
}
body form.resource_search .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 13px 19px;
  text-align: left;
  box-sizing: border-box;
  width: 307px;
  position: relative;
  width: 78%;
  float: right;
  cursor: pointer;
}
body form.resource_search .filter select::-ms-expand {
  display: none;
}
body form.resource_search .filter:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: black;
  position: absolute;
  top: 16px;
  font-size: 18px;
  right: 20px;
  font-weight: 900;
  cursor: pointer;
  pointer-events: none;
}
body form.news_search {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 3em 3%;
}
body form.news_search h4 {
  margin-bottom: 2em;
}
body form.news_search input[type=text] {
  box-sizing: border-box;
  background-color: white;
  outline: 0;
  border: 2px solid #a9abac;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 17px;
  width: 100%;
  padding: 12px 19px;
  margin-right: 1.65em;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body form.news_search input[type=text]:hover, body form.news_search input[type=text]:focus {
  border: 2px solid #232827;
}
body form.news_search input[type=text] ::placeholder {
  color: #232827;
}
body form.news_search input[type=text] :-ms-input-placeholder {
  color: #232827;
}
body form.news_search input[type=text] ::-ms-input-placeholder {
  color: #232827;
}
body form.news_search ::placeholder {
  color: #232827;
}
body form.news_search :-ms-input-placeholder {
  color: #232827;
}
body form.news_search ::-ms-input-placeholder {
  color: #232827;
}
body form.news_search button[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #232827;
  color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 16px;
  padding: 13px 17px 13px;
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin: 1em 0;
  border: 2px solid #232827;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body form.news_search button[type=submit] i {
  float: right;
  font-size: 0.9em;
  position: relative;
  top: 2px;
}
body form.news_search button[type=submit]:hover {
  background-color: white;
  color: #232827;
}
body form.news_search .filter {
  float: right;
  position: relative;
  width: 100%;
}
body form.news_search .filter label {
  color: #232827;
  font-size: 13px;
  line-height: 48px;
  margin-right: 4%;
  float: left;
  width: 18%;
}
body form.news_search .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  font-family: "Helvetica Neue LT W01_75 Bold";
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 13px 19px;
  text-align: left;
  box-sizing: border-box;
  width: 307px;
  position: relative;
  width: 78%;
  float: right;
  margin-bottom: 1em;
  cursor: pointer;
}
body form.news_search .filter select:last-child {
  margin-bottom: 0;
}
body form.news_search .filter select::-ms-expand {
  display: none;
}
body form.news_search .filter:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: black;
  position: absolute;
  top: 16px;
  font-size: 18px;
  right: 20px;
  font-weight: 900;
  z-index: 2;
  cursor: pointer;
  pointer-events: none;
}
body .nf-form-cont {
  margin: 2em 0 3em;
  overflow: hidden;
}
body .nf-form-cont h3 {
  display: none;
}
body .nf-form-cont .nf-form-fields-required {
  color: #b1005d;
  font-style: italic;
  font-size: 1.05em;
  margin-bottom: 1.25em;
}
body .nf-form-cont .nf-form-fields-required span.ninja-forms-req-symbol {
  color: #b1005d;
}
body .nf-form-cont .nf-field-container {
  margin-bottom: 1.1em;
}
body .nf-form-cont .one-half {
  float: left;
  width: 100%;
  margin-left: 0%;
}
body .nf-form-cont .one-half.nm {
  margin-left: 0;
}
body .nf-form-cont .full {
  float: left;
  width: 100%;
}
body .nf-form-cont .nf-mp-footer {
  width: 100%;
  float: left;
}
body .nf-form-cont .nf-next-item:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: white;
  position: absolute;
  top: 11px;
  font-size: 17px;
  right: 15px;
  font-weight: 900;
  -moz-transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -o-transition-property: color 0.15s linear;
  -ms-transition-property: color 0.15s linear;
  transition-property: color 0.15s linear;
}
body .nf-form-cont .nf-next-item:hover:after {
  color: #232827;
}
body .nf-form-cont .nf-previous-item:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: white;
  position: absolute;
  top: 11px;
  font-size: 17px;
  right: 15px;
  font-weight: 900;
  -moz-transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -o-transition-property: color 0.15s linear;
  -ms-transition-property: color 0.15s linear;
  transition-property: color 0.15s linear;
}
body .nf-form-cont .nf-previous-item:hover:after {
  color: #232827;
}
body .nf-form-cont .pad {
  margin-top: 1.5em;
}
body .nf-form-cont .recaptcha-wrap label {
  display: none;
}
body .nf-form-cont input[type=text], body .nf-form-cont input[type=email], body .nf-form-cont input[type=tel] {
  outline: none;
  border: 2px solid #a9abac;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.85em 1em;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body .nf-form-cont input[type=text]:hover, body .nf-form-cont input[type=text]:focus, body .nf-form-cont input[type=email]:hover, body .nf-form-cont input[type=email]:focus, body .nf-form-cont input[type=tel]:hover, body .nf-form-cont input[type=tel]:focus {
  border: 2px solid #232827;
}
body .nf-form-cont input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #232827;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 17px;
  padding: 13px 69px 13px 16px;
  cursor: pointer;
  border: 2px solid #232827;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body .nf-form-cont input[type=button]:hover {
  background-color: white;
  color: #232827;
}
body .nf-form-cont .submit-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #232827;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 17px;
  padding: 13px 69px 13px 16px;
  cursor: pointer;
  border: 2px solid #232827;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body .nf-form-cont .submit-btn:hover {
  background-color: white;
  color: #232827;
}
body .nf-form-cont textarea {
  outline: none;
  border: 2px solid #a9abac;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.85em 1em;
  height: 100px;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body .nf-form-cont textarea:hover, body .nf-form-cont textarea:focus {
  border: 2px solid #232827;
}
body .nf-form-cont label {
  font-weight: 400;
  text-align: left;
}
body .nf-form-cont .nf-error-required-error {
  position: absolute;
  font-size: 12px;
  bottom: -10px;
}
body .nf-form-cont .nf-form-content {
  overflow: hidden;
}
body .nf-form-cont .listcheckbox-container ul, body .nf-form-cont .listradio-container ul {
  overflow: hidden;
  padding: 15px 10px !important;
}
body .nf-form-cont .listcheckbox-container ul li, body .nf-form-cont .listradio-container ul li {
  display: block;
  float: left;
  width: 100% !important;
  margin-bottom: 25px !important;
}
body .nf-form-cont .listcheckbox-container ul li:before, body .nf-form-cont .listradio-container ul li:before {
  display: none;
}
body .nf-form-cont .listcheckbox-container ul li label, body .nf-form-cont .listradio-container ul li label {
  font-size: 0.9em;
  margin-top: -8px;
  padding-left: 5px;
}
body .nf-form-cont .listcheckbox-container ul li input[type=checkbox], body .nf-form-cont .listcheckbox-container ul li input[type=radio], body .nf-form-cont .listradio-container ul li input[type=checkbox], body .nf-form-cont .listradio-container ul li input[type=radio] {
  position: relative;
  top: 2px;
  visibility: hidden;
}
body .nf-form-cont .listcheckbox-container ul li input[type=checkbox] + label::before, body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label::before, body .nf-form-cont .listradio-container ul li input[type=checkbox] + label::before, body .nf-form-cont .listradio-container ul li input[type=radio] + label::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  width: 28px;
  height: 28px;
  border: 2px solid #a9abac;
  border-radius: 5px;
  visibility: visible;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body .nf-form-cont .listcheckbox-container ul li input[type=checkbox] + label::after, body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label::after, body .nf-form-cont .listradio-container ul li input[type=checkbox] + label::after, body .nf-form-cont .listradio-container ul li input[type=radio] + label::after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: #232827;
  position: absolute;
  top: -8px;
  font-size: 17px;
  left: -1px;
  font-weight: 900;
  display: none;
  visibility: visible;
}
body .nf-form-cont .listcheckbox-container ul li input[type=checkbox] + label:hover:before, body .nf-form-cont .listcheckbox-container ul li input[type=checkbox] + label:focus:before, body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label:hover:before, body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label:focus:before, body .nf-form-cont .listradio-container ul li input[type=checkbox] + label:hover:before, body .nf-form-cont .listradio-container ul li input[type=checkbox] + label:focus:before, body .nf-form-cont .listradio-container ul li input[type=radio] + label:hover:before, body .nf-form-cont .listradio-container ul li input[type=radio] + label:focus:before {
  border: 2px solid #232827;
}
body .nf-form-cont .listcheckbox-container ul li input[type=checkbox].checked + label::after, body .nf-form-cont .listcheckbox-container ul li input[type=checkbox].nf-checked + label::after, body .nf-form-cont .listcheckbox-container ul li input[type=radio].checked + label::after, body .nf-form-cont .listcheckbox-container ul li input[type=radio].nf-checked + label::after, body .nf-form-cont .listradio-container ul li input[type=checkbox].checked + label::after, body .nf-form-cont .listradio-container ul li input[type=checkbox].nf-checked + label::after, body .nf-form-cont .listradio-container ul li input[type=radio].checked + label::after, body .nf-form-cont .listradio-container ul li input[type=radio].nf-checked + label::after {
  display: block;
}
body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label::before, body .nf-form-cont .listradio-container ul li input[type=radio] + label::before {
  border-radius: 50%;
}
body .nf-form-cont .listcheckbox-container ul li input[type=radio] + label::after, body .nf-form-cont .listradio-container ul li input[type=radio] + label::after {
  content: "";
  width: 19px;
  height: 19px;
  background-color: #232827;
  border-radius: 50%;
  top: -3px;
  left: -3px;
}
body .nf-form-cont .submit-container {
  float: left;
  margin-top: 1.5em;
  position: relative;
}
body .nf-form-cont .submit-container:after {
  font-family: "Font Awesome 5 Pro";
  content: "";
  color: white;
  position: absolute;
  top: 17px;
  font-size: 17px;
  right: 15px;
  font-weight: 900;
  -moz-transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -o-transition-property: color 0.15s linear;
  -ms-transition-property: color 0.15s linear;
  transition-property: color 0.15s linear;
}
body .nf-form-cont .submit-container:hover:after {
  color: #232827;
}
body .nf-form-cont select {
  outline: none;
  border: 2px solid #a9abac;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Helvetica Neue LT W01_51488890";
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.85em 1em;
  background-color: white;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body .nf-form-cont select:hover, body .nf-form-cont select:focus {
  border: 2px solid #232827;
}
body .nf-form-cont select::-ms-expand {
  display: none;
}
body .nf-form-cont ::placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body .nf-form-cont :-ms-input-placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body .nf-form-cont ::-ms-input-placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body .tableholder {
  width: 100%;
  overflow: scroll;
  margin-top: 2em;
}
body table.assay {
  width: 768px;
  border: 1px solid #232827;
  border-radius: 5px;
  border-spacing: 0;
}
body table.assay thead th {
  font-family: "Helvetica Neue LT W01_75 Bold";
  text-align: left;
  border-right: 1px solid #232827;
  border-bottom: 1px solid #232827;
  font-size: 1.1em;
  padding: 0.8em 1.2em 0.8em 1.2em;
}
body table.assay thead th:last-child {
  border-right: 0;
}
body table.assay tbody tr td {
  font-family: "Helvetica Neue LT W01_51488890";
  border-right: 1px solid #232827;
  font-size: 1.17em;
  padding: 0.8em 1.2em 0.8em 1.2em;
}
body table.assay tbody tr td:last-child {
  border-right: 0;
}
body table.assay tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}
body .search_results {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  max-width: 1540px;
  overflow: hidden;
}
body .search_results .left, body .search_results .right {
  width: 100%;
}
body .search_results .holder.hide {
  display: none;
}
body .search_results a.search-post-link {
  color: #b1005d;
}
body .search_results a:hover {
  text-decoration: underline;
}
body .search_results a.more {
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 1.35em;
  float: left;
}
body .search_results a.more i {
  color: #b30560;
  margin-left: 0.3em;
}
body .search_results h4 {
  margin-bottom: 0.5em;
}
body .search_results p {
  font-size: 1.05em;
  line-height: 1.7em;
  margin-top: 0;
}
body .search_results hr {
  margin: 2em auto;
}
body footer {
  background-color: #0a0b0a;
  margin-top: 5em;
}
body footer .container {
  color: #FFF;
  overflow: hidden;
  border-top: 1px solid #232827;
}
body footer a {
  color: #FFF;
}
body footer .col {
  width: 100%;
  float: left;
  padding-top: 2.5em;
}
body footer .col:first-child {
  margin-left: 0;
}
body footer h4 {
  margin-top: 0;
  font-size: 1.445em;
  font-weight: 400;
  font-family: "Helvetica Neue LT W01_75 Bold";
  margin-bottom: 0.2em;
}
body footer p {
  line-height: 1.6em;
}
body footer form {
  margin-top: 2.3em;
}
body footer form input[type=text] {
  border: 2px solid #aaabac;
  font-family: "Helvetica Neue LT W01_51488890";
  color: #232827;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
  width: 63%;
  padding: 8px 0 8px 18px;
  -moz-transition: border 0.15s linear;
  -webkit-transition: border 0.15s linear;
  -o-transition-property: border 0.15s linear;
  -ms-transition-property: border 0.15s linear;
  transition-property: border 0.15s linear;
}
body footer form input[type=text]:hover, body footer form input[type=text]:focus {
  border: 2px solid #232827;
}
body footer form ::placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body footer form :-ms-input-placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body footer form ::-ms-input-placeholder {
  color: #232827;
  font-family: "Helvetica Neue LT W01_51488890";
}
body footer form input[type=submit] {
  outline: none;
  font-family: "Helvetica Neue LT W01_75 Bold";
  font-size: 0.88em;
  padding: 12px 0 10px;
  border-radius: 5px;
  line-height: 16px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 2px solid black;
  width: 92px;
  margin-left: 4%;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -o-transition-property: all 0.15s linear;
  -ms-transition-property: all 0.15s linear;
  transition-property: all 0.15s linear;
}
body footer form input[type=submit]:hover {
  background-color: white;
  color: black;
}
body footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*
  			&#menu-main-nav-1{
  				li{
  					ul{
  						display: none;
  					}
  					a{
  						font-family:'Helvetica Neue LT W01_75 Bold';
  						font-size: 1.15em;
  						position: relative;
  						&:after{
  							content: "";
  							position: absolute;
  							bottom: -2px;
  							left: 0;
  							width: 0%;
  							height: 1px;
  							background-color: $color_gray;
  							@include transition(width, 0.15s);
  						}
  						&:hover{
  							&:after{
  								width: 100%;
  							}
  						}
  					}
  				}
  			}
  */
}
body footer ul.sub-menu {
  display: none;
}
body footer ul li {
  margin-bottom: 1.35em;
}
body footer ul li:before {
  content: "";
  display: none;
}
body footer ul li a {
  position: relative;
}
body footer ul li a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #232827;
  -moz-transition: width 0.15s linear;
  -webkit-transition: width 0.15s linear;
  -o-transition-property: width 0.15s linear;
  -ms-transition-property: width 0.15s linear;
  transition-property: width 0.15s linear;
}
body footer ul li a:hover:after {
  width: 100%;
}
body footer ul#menu-main-nav-1 li a {
  font-family: "Helvetica Neue LT W01_75 Bold";
}
body footer ul.social {
  margin-top: 2em;
}
body footer ul.social li {
  display: inline-block;
  margin-right: 1.5em;
}
body footer ul.social li:last-child {
  margin-right: 0;
}
body footer ul.social li a {
  color: #727f79;
  font-size: 1.8em;
  -moz-transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -o-transition-property: color 0.15s linear;
  -ms-transition-property: color 0.15s linear;
  transition-property: color 0.15s linear;
}
body footer ul.social li a:hover {
  color: #232827;
}
body footer ul.social li a:hover:after {
  display: none;
}
body footer .copyright {
  width: 100%;
  float: left;
  border-top: 1px solid #232827;
  margin-top: 5em;
}
body footer .copyright p {
  text-align: center;
  color: #a9aaaa;
  font-size: 0.92em;
  margin: 4em 0;
}
body footer .copyright p a {
  color: #232827;
  margin-left: 1em;
}
body table.cookielawinfo-classic {
  font-family: "Helvetica Neue LT W01_51488890", Helvetica, Arial, sans-serif;
  color: #232827;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 85%;
  }
  body .home_col .fl-col {
    width: 61% !important;
    margin: 0;
    float: left;
  }
  body .home_col .fl-col.fl-col-small {
    width: 37% !important;
    margin-right: 2%;
  }
  body .resource_holder .item, body .news_holder .item {
    width: 47.5%;
    margin-right: 2.5%;
    float: left;
  }
  body .resource_holder .item .img, body .news_holder .item .img {
    width: 183px;
    height: 123px;
  }
  body .resource_holder .item .content, body .news_holder .item .content {
    width: calc(100% - 214px);
  }
  body .resource_holder .item:not(.activeitem):nth-child(even), body .news_holder .item:not(.activeitem):nth-child(even) {
    margin-right: 0;
  }
  body .resource_holder .item.activeitem.mn, body .news_holder .item.activeitem.mn {
    margin-right: 0;
  }
  body .nf-form-cont .one-half-container {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  body .nf-form-cont .one-half-container.nm {
    margin-left: 0;
  }
  body .nf-form-cont .listcheckbox-container ul li, body .nf-form-cont .listradio-container ul li {
    display: inline-block;
    float: left;
    width: initial !important;
    margin-bottom: 15px !important;
    margin-right: 5% !important;
  }
  body .nf-form-cont .listcheckbox-container ul li:first-child, body .nf-form-cont .listradio-container ul li:first-child {
    margin-right: 5% !important;
  }
  body .fl-col-width-callout-1 {
    width: 37%;
    margin-right: 0 !important;
    padding: 6.5em 0;
  }
  body .fl-col-width-callout-2 {
    width: 2%;
    margin-right: 0 !important;
  }
  body .fl-col-width-callout-3 {
    width: 61%;
    margin-right: 0 !important;
    padding: 6.5em 0;
  }
  body .fl-col-width-callout-3 hr {
    display: block;
  }
  body .search_results .left {
    width: 37%;
    margin-right: 2%;
    float: left;
  }
  body .search_results .right {
    width: 61%;
    float: left;
  }
  body .search_results .right hr {
    display: block;
  }
  body .fl-col-width-1-4, body .fl-col-sidebars-1 {
    width: 23.125%;
  }
  body .fl-col-width-1-3 {
    width: 31.666%;
    padding: 6em 0;
  }
  body .fl-col-width-1-3 hr {
    display: block;
  }
  body .fl-col-width-1-3:first-child {
    padding: 6em 0;
  }
  body .fl-col-width-1-3.lp {
    padding: 0;
  }
  body .fl-col-width-1-2, body .fl-col-sidebars-2 {
    width: 48.75%;
  }
  body .fl-col-sidebars-1, body .fl-col-sidebars-2 {
    border-top: 1px solid #232827;
    margin: 7em auto;
  }
  body .fl-col-sidebars-1:first-child {
    display: block;
  }
  body .tableholder {
    overflow: hidden;
  }
  body table.assay {
    width: 100%;
  }
  body .fl-col-group .fl-col {
    margin-right: 2.5%;
  }
  body .fl-col-group .fl-col:last-child {
    margin-right: 0;
  }
  body footer {
    background-color: #0a0b0a;
  }
  body footer .container {
    border-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #FFF;
    display: flex;
  }
  body footer .col {
    width: 29.25%;
    margin-left: 2%;
    padding-left: 1%;
    flex: 1;
  }
  body footer .col:nth-of-type(2) {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding-left: 5%;
  }
  body footer .col a {
    color: #FFF;
  }
  body footer .col .copyRight {
    color: #5e6060;
    font-size: 14px;
  }
  body footer .col .copyRight a {
    color: #FFF;
  }
  body .entry-content-page.post .info .tags {
    width: 85%;
  }
  body .entry-content-page.post .info .sharethis-inline-share-buttons {
    float: right;
  }
  body form.assay_search input[type=text] {
    width: 40.224%;
    max-width: 756px;
  }
  body form.assay_search .filter {
    width: 31.5%;
  }
  body form.assay_search .filter label {
    width: 25%;
  }
  body form.assay_search .filter select {
    width: 71%;
  }
  body form.assay_search button[type=submit] {
    width: 17.6%;
    margin: 0;
  }
  body form.resource_search input[type=text] {
    width: 40.224%;
    max-width: 630px;
  }
  body form.resource_search .filter {
    width: 31.5%;
  }
  body form.resource_search .filter label {
    width: 25%;
  }
  body form.resource_search .filter select {
    width: 71%;
  }
  body form.resource_search button[type=submit] {
    width: 17.6%;
    margin: 0;
  }
  body form.news_search input[type=text] {
    width: 33%;
    max-width: 630px;
  }
  body form.news_search .filter {
    width: 31.5%;
  }
  body form.news_search .filter label {
    width: 25%;
  }
  body form.news_search .filter select {
    width: 71%;
    float: left;
    margin-right: 5%;
    margin-bottom: 0;
  }
  body form.news_search .filter select:last-child {
    margin-right: 0;
  }
  body form.news_search button[type=submit] {
    width: 16.6%;
    margin: 0;
  }
}
@media only screen and (min-width: 968px) {
  body {
    font-size: 90%;
  }
  body header a.menu_open, body header a.menu_close {
    display: none;
  }
  body header ul.main_nav {
    position: absolute;
    right: 1.25em;
    width: auto;
    top: -1em;
  }
  body header ul.main_nav li {
    margin-right: 1.5em;
    display: inline-block;
    position: relative;
    padding: 0;
    width: auto;
  }
  body header ul.main_nav li.menu-item-mobile {
    display: none !important;
  }
  body header ul.main_nav li a {
    font-size: 1em;
    left: 0;
    padding: 1.05em 9%;
    display: block;
  }
  body header ul.main_nav li a:before {
    top: 1.2em;
  }
  body header ul.main_nav li.hover a:before {
    display: block;
  }
  body header ul#menu-utility-nav li:after {
    padding: 0 0.3em 0 0.6em;
  }
  body header ul .sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 5px;
    width: 26em;
    padding-top: 2.9em;
    margin-left: -2em;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0px;
  }
  body header ul .sub-menu li {
    display: block;
    border-left: 1px solid #232827;
    border-right: 1px solid #232827;
  }
  body header ul .sub-menu li a {
    font-size: 1.15em !important;
  }
  body header ul .sub-menu .sub-menu {
    left: -395px;
    padding-top: 0;
    padding-right: 2.2em;
    margin-top: 0;
    margin-bottom: 0;
  }
  body header ul .sub-menu .sub-menu li {
    border-top: 1px solid #232827;
  }
  body header ul .sub-menu .sub-menu li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 0px;
    position: relative;
  }
  body header ul .sub-menu .sub-menu li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  body header ul .sub-menu .sub-menu li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    border-bottom: 0px;
  }
  body header ul .sub-menu .sub-menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  body header ul .sub-menu .sub-menu li a {
    font-size: 1.2em !important;
    padding: 1.05em 9%;
  }
  body header a.logo img {
    width: 200px;
  }
  body header .search_form_holder {
    width: 0%;
    top: 3.5em;
    position: absolute;
  }
  body header .search_form .close {
    display: inline-block;
  }
  body header .search_form input[type=text] {
    width: calc(100% - 35px);
  }
  body header .search_form button {
    right: 45px;
  }
  body header #nav_holder {
    position: relative;
    z-index: 2;
    background-color: transparent;
    height: initial;
    width: calc(100% - 250px);
    float: right;
    overflow: visible;
    opacity: 1;
    display: block;
  }
  body header #main_nav {
    overflow: visible;
    margin-top: 1.5em;
  }
  body header #main_nav a.search {
    display: inline-block;
  }
  body header #utility_nav_mobile {
    display: none;
  }
  body header #utility_nav {
    display: block;
  }
  body header ul .sub-menu {
    padding-top: 4.7em;
  }
  body header ul.main_nav li {
    margin-right: 2.5em;
  }
  body header ul.main_nav li a {
    font-size: 1.15em !important;
  }
  body header ul#menu-utility-nav li:after {
    padding: 0 1.2em;
  }
  body header a.logo img {
    width: 244px;
  }
  body form.news_search {
    /*
    				.filter{
    					width: 43.5%;
    					label{
    						width: 15%;
    					}
    					select{
    						width: 38%;
    						float: left;
    						margin-right: 5%;
    						&:last-child{
    							margin-right: 0;
    						}
    					}
    				}
    */
  }
  body form.news_search input[type=text] {
    width: 33%;
    max-width: 630px;
  }
  body form.news_search button[type=submit] {
    width: 15.6%;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 95%;
  }
  body header ul .sub-menu {
    padding-top: 4.4em;
  }
  body header ul.main_nav li {
    margin-right: 3.5em;
  }
  body form.assay_search input[type=text] {
    width: 52.224%;
  }
  body form.assay_search .filter {
    width: 27.5%;
  }
  body form.assay_search .filter label {
    width: 18%;
  }
  body form.assay_search .filter select {
    width: 78%;
  }
  body form.assay_search button[type=submit] {
    width: 12.6%;
    margin: 0;
  }
  body form.resource_search input[type=text] {
    width: 52.224%;
  }
  body form.resource_search .filter {
    width: 20.5%;
  }
  body form.resource_search .filter label {
    width: 23%;
  }
  body form.resource_search .filter select {
    width: 72%;
  }
  body form.resource_search button[type=submit] {
    width: 10.6%;
    margin: 0;
  }
  body form.news_search input[type=text] {
    width: 40.224%;
  }
  body form.news_search .filter {
    width: 20.5%;
  }
  body form.news_search .filter label {
    width: 23%;
  }
  body form.news_search .filter select {
    width: 72%;
  }
  body form.news_search button[type=submit] {
    width: 10.6%;
    margin: 0;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    font-size: 100%;
  }
  body header ul .sub-menu {
    padding-top: 3.1em;
  }
}

/*# sourceMappingURL=styles.css.map */
