html, body{
	margin: 0;
	padding: 0;
}

$color_gray: #232827;
$color_lightgray: #656867;

@mixin transition($place, $time) {
	-moz-transition: $place $time linear;
	-webkit-transition: $place $time linear;
	-o-transition-property: $place $time linear;
	-ms-transition-property: $place $time linear;
	transition-property: $place $time linear;
}
#cookie_action_close_header_reject{
	position: absolute !important;
    right: 3% !important;
    border-radius: 50% !important;
    padding: 8px 11px !important;
    top: 0.8em !important;
}
#cookie_action_close_header{
	margin: 0 1% !important;
}
body{
	font-family:'Helvetica Neue LT W01_51488890', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color_gray;
	font-size: 80%;
	.fl-row[data-node] .fl-row-content-wrap{
		margin: 0 auto;
	}
	#sizetracker, #sizetrackernl{
		border: 0;
		padding: 0;
		outline: 0;
		display: block;
	}
	.trigger{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
		background-color: white;
		z-index: -2;
		opacity: 0;
	}
	h1{
		font-family:'Helvetica Neue LT W01_75 Bold';
		font-weight: 400;
		font-size: 2.65em;
		margin: 0;
	}
	h2{
		font-family:'Helvetica Neue LT W01_75 Bold';
		font-weight: 400;
		font-size: 2.2em;
		margin: 0;
	}
	h3{
		font-family:'Helvetica Neue LT W01_75 Bold';
		font-weight: 400;
		font-size: 1.9em;
		margin: 0;
		span.section-title{
// 			max-width: 494px;
			padding: 0.3em 0 0;
 			border-top: 1px solid $color_gray;
			display: inline-block;
			margin: 3.5em 0 0;
			position: relative;
/*
			&:before{
				content: "";
				height: 1px;
				width: 50%;
				max-width: 494px;
				background-color: $color_gray;
				top: 0;
				left: 0;
				position: absolute;
			}
*/
		}
	}
	h4{
		font-family:'Helvetica Neue LT W01_75 Bold';
		font-weight: 400;
		font-size: 1.51em;
		margin: 0;
		span.section-title{
			max-width: 494px;
			padding: 0.3em 0 0;
			border-top: 1px solid $color_gray;
			display: block;
			margin: 3.5em 0 0;
		}
	}
	h5{
		font-family:'Helvetica Neue LT W01_75 Bold';
		font-weight: 400;
		font-size: 1.35em;
		margin: 0;
		span.section-title{
			max-width: 494px;
			padding: 0.3em 0 0;
			border-top: 1px solid $color_gray;
			display: block;
			margin: 3.5em 0 0;
		}
	}
	hr{
		border: 0;
	    height: 1px;
	    background: #000;
	    width: 100%;
	    margin: 0.75em auto;
	}
	p{
		font-size: 1.17em;
		line-height: 1.6em;
	}
	.fl-row-content-wrap{
		padding: 0;
	    width: 94%;
	    margin: 0 auto;
	    max-width: 1540px;
	}
        #alert_banner{
		background-color: #B8E652;
		.container{
			text-align: center;
			padding: 0.5em;
			position: relative;
			width: 90%;
			p{
				margin: 0;
				font-family: “Helvetica Neue LT W01_51488890”, Helvetica, Arial, sans-serif;
				i{
					margin-right: 10px;
				}
				a{
					text-decoration: underline;
				}
			}
			a.close{
				position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    right: -12px;
			    font-size: 2em;
			    font-weight: 300;
			    @include transition(opacity, 0.15s);
			    &:hover{
				    opacity: 0.5;
			    }
			}
		}
	}
	img{
		max-width: 100%;
		height: auto;
		&.alignleft{
			float: left;
			margin: 1em;
		}
		&.alignright{
			float: right;
			margin: 1em;
		}
	}
	.video_wrapper{
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	a{
		text-decoration: none;
		color: $color_gray;
		&.button{
			font-family:'Helvetica Neue LT W01_75 Bold';
			font-size: 0.88em;
			padding: 0.82em 1.55em;
			border-radius: 5px;
			&:hover{
				
			}
			&.black{
				color: white;
				background-color: black;
				border: 2px solid black;
				@include transition(all, 0.15s);
				&:hover{
					border: 2px solid black;
					background-color: white;
					color: black;
// 					color: black;
				}
			}
		}
		span{
			&.button{
				font-family:'Helvetica Neue LT W01_75 Bold';
				font-size: 0.8em;
				padding: 0.31em 1.07em;
				border-radius: 5px;
				&.black{
					color: white;
					background-color: black;
					border: 2px solid black;
					@include transition(all, 0.15s);
					&:hover{
						background-color: white;
						color: black;
					}
				}
				&.white{
					background-color: white;
					border: 2px solid white;
					color: $color_gray;
					display: inline-block;
					@include transition(all, 0.15s);
					&:hover{
						background-color: $color_gray;
						color: white;
						border: 2px solid $color_gray;
					}
				}
                                				&.ghost{
					background-color: white;
					border: 2px solid $color_gray;
					color: $color_gray;
					display: inline-block;
					@include transition(all, 0.15s);
					&:hover{
						background-color: $color_gray;
						color: white;
						border: 2px solid $color_gray;
					}
				}
				&.gray{
					background-color: $color_gray;
					border: 2px solid $color_gray;
					color: white;
					display: inline-block;
					@include transition(all, 0.15s);
					&:hover{
						background-color: white;
						color: $color_gray;
						border: 2px solid $color_gray;
					}
				}
			}
		}
	}
	.fl-col-width-callout-1{
		padding: 4em 0 0;
	}
	.fl-col-width-callout-3{
		padding: 1em 0 4em;
		hr{
			display: none;
		}
	}
	.fl-col-sidebars-1, .fl-col-sidebars-2{
		margin: 3em auto;
		padding: 1em 0;
	}
	.fl-col-sidebars-1:first-child{
		display: none;
	}
	.fl-col-width-1-3{
		hr{
			display: none;
		}
		&:first-child{
			padding: 3em 0em 0;
			hr{
				display: block;
			}
		}
		&:last-child{
			padding-bottom: 3em;
		}
	}
	.entry-content-page{
		ul{
// 			list-style: none;
			li{
				font-size: 1.17em;
				position: relative;
				margin-bottom: 1.2em;
				line-height: 1.6em;
				&:last-child{
					margin-bottom: 0;
				}
/*
				&:before{
					content: "*";
					color: $color_gray;
				    font-size: 0.6em;
				    position: absolute;
				    top: 0.4em;
				    left: -1.5em;
				}
*/
				li{
					font-size: 1em;
				}
			}
		}
		&.post{
			h1{
				font-size: 2.35em;
				border-top: 1px solid $color_gray;
				padding-top: 0.25em;
				margin-top: 1.3em;
			}
			p.byline{
				opacity: 0.6;
				font-size: 1.05em;
				&.date{
					margin-bottom: 0;
				}
				&.location{
					margin-top: 0;
				}
			}
			.img{
				background-color: $color_gray;
			    width: 100%;
			    height: 27em;
			    border-radius: 5px;
			    margin: 2em auto 3em;
			    background-size: cover;
			    background-position: center center;
			    background-repeat: no-repeat;
			}
			.info{
				border-top: 1px solid $color_gray;
				padding-top: 1.6em;
				margin-top: 2.6em;
				overflow: hidden;
				margin-bottom: 6em;
				.tags{
					float: left;
					width: 100%;
					padding-bottom: 1.5em;
					p{
						float: left;
					    line-height: 1;
					    margin: 0;
					    margin-right: 0.9em;
					}
					a{
						background-color: $color_gray;
						border-radius: 5px;
					    color: white;
					    font-weight: bold;
					    font-size: 0.9em;
					    padding: 0.39em 1.5em;
					    margin-right: 0.7em;
					    border: 1px solid $color_gray;
					    @include transition(all, 0.15s);
					    &:last-child{
						    margin-right: 0;
					    }
					    &:hover{
						    background-color: transparent;
						    color: $color_gray;
					    }
					}
				}
				.sharethis-inline-share-buttons{
					float: left;
					.st-btn[data-network='sharethis']{
						background-color: transparent !important;
					    min-height: 0 !important;
					    height: initial !important;
					    line-height: initial !important;
					    padding: 0 !important;
					    &:hover{
						    top: 0 !important;
					    }
						svg{
							fill: $color_gray !important;
							width: 14px !important;
							height: 14px !important;
							top: 3px !important;
							padding-right: 3px;
						}
						span{
							color: $color_gray !important;
							display: inline-block !important;
						    font-weight: bold !important;
						    min-width: 0 !important;
						    padding: 0 !important;
						    font-size: 0.94em;
						    line-height: initial !important;
						}
					}
				}
			}
		}
	}
	.resource_block{
		margin-top: 0.5em;
		.content{
			img{
				border-radius: 5px;
			}
			p{
				margin: 0.6em 0 0.4em;
				&.title{
					font-family:'Helvetica Neue LT W01_75 Bold';
					line-height: 1.3em;
					font-size: 1.55em;
				}
				&.type{
					opacity: 0.6;
					font-size: 1.05em;
				}
			}
		}
	}
	.fl-module-content{
		margin: 0;
	}
	.fl-col-small{
		max-width: 100%;
	}
	.container{
		width: 94%;
		margin: 0 auto;
		max-width: 1540px;
		&.post{
			.entry-content-page{
				max-width: 714px;
				width: 100%;
				margin: 0 auto;
			}
		}
		&.resource{
			.entry-content-page{
				max-width: 100%;
				.resource_content{
					max-width: 714px;
					width: 100%;
					margin: 0 auto;
				}
				.img{
					border: 1px solid #232827;
					display: flex;
					.image{
						width: 50%;
					    float: left;
					    height: 100%;
					    border-top-left-radius: 5px;
					    border-bottom-left-radius: 5px;
					}
					.copy{
						width: 50%;
					    float: left;
// 					    height: 100%;
					    align-self: center;
					    .contents{
						    width: 93%;
						    margin: 0 auto;
						    h1, p, a{
							    color: white;
						    }
						    h1{
							    margin-top: 0;
							    padding-top: 0;
						    }
						    a{
							    font-size: 1.25em;
								font-weight: bold;
								i{
									padding-left: 7px;
								}
						    }
						    p{
							    &.type{
								    margin-top: 0.5em;
								    margin-bottom: 1.5em;
							    }
						    }
					    }
					}
				}
			}
		}
		&.event{
			.img{
				background-color: $color_gray;
			    width: 100%;
			    height: 27em;
			    border-radius: 5px;
			    margin: 2em auto 3em;
			    background-size: cover;
			    background-position: center center;
			    background-repeat: no-repeat;
			}
			h1{
				border-top: 0px;
			}
		}
	}
	header{
// 		overflow: hidden;
		padding: 1.9em 0;
		position: relative;
		z-index: 5;
		&.sticky{
			position: fixed;
			left: 0;
			right: 0;
			margin: auto;
			background-color: white;
			z-index: 6;
			-webkit-box-shadow: 0px 5px 34px -10px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 5px 34px -10px rgba(0,0,0,0.5);
			box-shadow: 0px 5px 34px -10px rgba(0,0,0,0.5);
		}
		#nav_holder{
			width: 100%;
		    position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 3;
		    background-color: white;
		    height: 100%;
		    overflow-x: scroll;
		    opacity: 0;
		    display: none;
// 			overflow: hidden;
		}
		a.logo{
			position: relative;
			z-index: 3;
			img{
				width: 165px;
				max-width: 244px;
				height: auto;
			}
		}
		a.menu_open{
			position: absolute;
		    right: 0;
		    font-size: 24px;
		    right: 2.5%;
		    top: 1.6em;
		}
		a.menu_close{
			position: absolute;
		    right: 0;
		    font-size: 30px;
		    right: 2.5%;
		    top: 1.15em;
// 		    top: 4.5%;
		    i{
			    font-weight: 500;
		    }
		}
		#utility_nav_mobile{
			display: block;
			width: calc(100% - 70px);
			border-top: 1px solid #232827;
			padding-top: 1em;
			margin: 1em auto;
			#menu-utility-nav-1{
				float: left;
				width: 100%;
				overflow: hidden;
				margin-bottom: 1.5em;
				text-align: left;
				font-size: 1.25em;
				li{
					display: block;
					position: relative;
					margin-bottom: 1.5em;
					&:after{
/*
						content: "|";
						padding: 0 5px 0 7px;
*/
					}
					&:last-child{
						margin: 0;
						&:after{
							display: none;
						}
					}
				}
			}
			.button.black{
				display: block;
			    width: 100%;
			    padding: 0.813em 0;
			    height: initial;
			    text-align: center;
			    overflow: hidden;
			    font-size: 1.25em;
			}
		}
		#utility_nav{
			overflow: hidden;
			display: none;
			a.button{
				float: right;
				display: inline-block;
				margin-left: 1.9em;
			}
		}
		#main_nav{
// 			overflow: hidden;
			margin-top: 7.5em;
			position: relative;
			overflow: hidden;
			a.search{
				float: right;
			    color: #a8085c;
			    font-size: 1.31em;
			    display: none;
			    @include transition(opacity, 0.15s);
			    &:hover{
				    opacity: 0.75;
			    }
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
			.sub-menu{
				display: none;
			    position: relative;
			    width: 100%;
			    border-radius: 0;
			    margin-left: 0;
			    left: -25px;
			    z-index: 2;
			    margin-top: 2em;
			    margin-bottom: 2em;
// 			    border-bottom: 1px solid #232827;
			    li{
				    background-color: white;
				    width: 100%;
				    border-top: 1px solid $color_gray;
/*
				    border-left: 1px solid $color_gray;
				    border-right: 1px solid $color_gray;
*/
				    font-size: 0.88rem;
				    margin-right: 0 !important;
				    position: relative;
				    display: block !important;
				    padding: 0 !important;
					a{
						&:hover{
							&:before{
								font-family: "Font Awesome 5 Pro";
							    content: "\f138";
							    color: white;
							    position: absolute;
							    top: 0.9em;
							    font-size: 18px;
							    right: 4%;
							    z-index: 5;
							    display: block !important;
							    background-color: transparent !important;
							    left: auto;
							}
						}
					}
				    &.menu-item-has-children{
/*
						&:after{
							font-family: "Font Awesome 5 Pro";
						    content: "\f138";
						    color: white;
						    position: absolute;
						    top: 0.9em;
						    font-size: 18px;
						    right: 4%;
						    z-index: 5;
						}
*/
					}
				    a{
					    display: block;
					    padding: 1.05em 9% 1.05em 13%;
					    font-size: 1.2em !important;
					    left: 0 !important;
				    }
				    &:last-child{
					    border-bottom-left-radius: 5px;
					    border-bottom-right-radius: 5px;
					    border-bottom: 1px solid $color_gray;
				    }
				    &.menu-item-has-children{
						&:hover{
							.sub-menu{
								display: block;
							}
						}   
					}
			    }
			    .sub-menu{
				    display: none;
				    left: -418px;
				    padding-top: 0;
				    padding-right: 2.2em;
				    left: 0;
					padding-right: 0;
					margin: 0;
					border-radius: 0px;
					border-bottom: 0px;
					margin: 1em auto 2em;
// 				    top: -3.5em;
				    &:before{
					    content:"";
					    position:absolute;
					    right: calc(2.2em - 7px);
					    top:1.75em;
					    width:0;
					    height:0;
					    border-style:solid;
					    border-width:4.5px 0 4.5px 7px;
					    border-color:transparent transparent transparent #ffffff;
				    }
				    li{
					    border: 0px;
					    a{
						    font-size: 1.0em !important;
						    padding: 1.05em 15%;
					    }
				    }
			    }
			}
			li{
				&:before{
					content: "";
					display: none;
				}
				&.hover{
					.sub-menu{
						display: block;
						.sub-menu{
							display: none;
						}
					}
				}
			}
			&#menu-utility-nav, &#menu-utility-nav-2{
				line-height: 2.5em;
				li{
					display: inline-block;
					position: relative;
					&:before{
						content: "";
						display: none;
					}
					&:after{
						content: "|";
						color: #d3d4d4;
						padding: 0 1.2em;
					}
					&:last-child{
						&:after{
							display: none;
						}
					}
					a{
						font-size: 0.88em;
						position: relative;
						&:after{
							content: "";
							position: absolute;
							bottom: -2px;
							left: 0;
							width: 0%;
							height: 1px;
							background-color: $color_gray;
							@include transition(width, 0.15s);
						}
						&:hover{
							&:after{
								width: 100%;
							}
						}
					}
				}
			}
			&.main_nav{
				width: 100%;
				li{
					position: relative;
					display: block;
					margin-right: 0;
					width: 100%;
					padding: 20px 25px;
					a{
						font-family:'Helvetica Neue LT W01_75 Bold';
						font-size: 1.5em;
						position: relative;
						left: 10px;
						span, .item{
							position: relative;
							z-index: 2;
							display: inline-block;
						}
						&.target{
							z-index: 3;
						}
						&:before{
							width: 0.8em;
						    height: 0.8em;
						    content: "";
						    position: absolute;
						    left: -25px;
// 						    top: 1.2em;
						    top: 0.25em;
						    display: none;
						    opacity: 0;
						    @include transition(opacity, 0.15s);
						}
						&:hover{
							&:before{
								opacity: 1;
							}
						}
					}
					&.services{
						a{
							&:before{
								background-color: #45bbfa;
							}
						}
						.sub-menu{
							li{
								a{
									@include transition(color, 0.175s);
									&:after{
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										opacity: 0;
										height: 100%;
										background-color: #45bbfa; 
										@include transition(opacity, 0.175s);
									}
									&.subopen, &:hover{
										color: white;
										&:after{
											opacity: 1;
										}
									}
									&:before{
										display: none;
									}
								}
							}
						}
					}
					&.about{
						a{
							&:before{
								background-color: #b1005d;
							}
						}
						.sub-menu{
							li{
								a{
									@include transition(color, 0.175s);
									&:after{
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
										opacity: 0;
										background-color: #b1005d; 
										@include transition(opacity, 0.175s);
									}
									&.subopen, &:hover{
										color: white;
										&:after{
											opacity: 1;
										}
									}
									&:before{
										display: none;
									}
								}
							}
						}
					}
					&.resources{
						a{
							&:before{
								background-color: #b1005d;
							}
						}
						.sub-menu{
							li{
								a{
									@include transition(color, 0.175s);
									&:after{
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
										opacity: 0;
										background-color: #b1005d; 
										@include transition(opacity, 0.175s);
									}
									&.subopen, &:hover{
										color: white;
										&:after{
											opacity: 1;
										}
									}
									&:before{
										display: none;
									}
								}
							}
						}
					}
					&.expertise{
						a{
							&:before{
								background-color: #aee049;
							}
						}
						.sub-menu{
							li{
								a{
									@include transition(color, 0.175s);
									&:after{
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										opacity: 0;
										height: 100%;
										background-color: #aee049; 
										@include transition(opacity, 0.175s);
									}
									&.subopen, &:hover{
										color: white;
										&:after{
											opacity: 1;
										}
									}
									&:before{
										display: none;
									}
								}
							}
						}
					}
					&.innovations{
						a{
							&:before{
								background-color: #ffb746;
							}
						}
						.sub-menu{
							li{
								a{
									@include transition(color, 0.175s);
									&:after{
										content: "";
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										opacity: 0;
										height: 100%;
										background-color: #ffb746; 
										@include transition(opacity, 0.175s);
									}
									&.subopen, &:hover{
										color: white;
										&:after{
											opacity: 1;
										}
									}
									&:before{
										display: none;
									}
								}
							}
						}
					}
					&.hover{
						a.opened{
							&:before{
								display: block;
							}
						}
						.sub-menu{
							li{
								&.menu-item-has-children{
/*
									&:after{
										font-family: "Font Awesome 5 Pro";
									    content: "\f138";
									    color: white;
									    position: absolute;
									    top: 0.9em;
									    font-size: 18px;
									    right: 4%;
									    z-index: 5;
									}
*/
								}
							}
						}
					}
				}
			}
		}
		.search_form_holder{
			position: relative;
		    right: 0;
		    z-index: 2;
		    width: 0%;
// 		    width: 63%;
		    overflow: hidden;
		    background-color: white;
		    width: calc(100% - 70px);
			margin: 0 auto;
		}
		.search_form{
			position: relative;
			width: 100%;
			input[type="text"]{
				background-color: white;
				border: 2px solid #a9abac;
				font-family: 'Helvetica Neue LT W01_51488890';
			    font-size: 17px;
			    padding: 12px 19px;
			    border-radius: 5px;
			    width: 100%;
			    box-sizing: border-box;
			    -moz-transition: border 0.15s linear;
				-webkit-transition: border 0.15s linear;
				-o-transition-property: border 0.15s linear;
				-ms-transition-property: border 0.15s linear;
				transition-property: border 0.15s linear;
			    &:hover, &:focus{
				    border: 2px solid #232827;
			    }
				::placeholder {
				    color: #232827;
				}
				
				:-ms-input-placeholder {
				    color: #232827;
				}
				
				::-ms-input-placeholder {
				    color: #232827;
				}
			}
			.close{
				background-color: transparent;
			    border: 0;
			    outline: 0;
			    float: right;
			    display: inline-block;
			    color: #a8085c;
			    font-size: 27px;
			    float: right;
			    position: absolute;
			    right: 0;
			    top: 8px;
			    display: none;
			}
			button{
				position: absolute;
			    top: 11px;
			    right: 20px;
			    background-color: transparent;
			    border: 0;
			    outline: 0;
			    float: right;
			    display: inline-block;
			    color: #a8085c;
			    font-size: 20px;
			}
			::placeholder {
				color: #232827;
			}
			
			:-ms-input-placeholder {
			    color: #232827;
			}
				
			::-ms-input-placeholder {
			    color: #232827;
			}
		}
	}
	.home_col{
		h1, h2, h3, p{
			margin: 0;
		}
	}
	.hidden{
		display: none;
	}
	.resource_holder, .news_holder{
		overflow: hidden;
		margin: 5em 0;
		h4{
			font-weight: 400;
			font-family:'Helvetica Neue LT W01_75 Bold';
			font-size: 1.1em;
			border-bottom: 1px solid $color_gray;
			padding: 0 0 1em 0;
			margin: 0;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
		.item{
			border-bottom: 1px solid $color_gray;
			overflow: hidden;
			padding: 1.625em 0px;
			.img{
				width: 150px;
				height: 101px;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				background-color: #f4f4f4;
				border-radius: 5px;
				float: left;
			}
			.content{
				float: left;
			    width: calc(100% - 181px);
			    margin-left: 31px;
			    p,a{
				    margin: 0;
				    &.title{
					    font-family:'Helvetica Neue LT W01_75 Bold';
					    font-size: 1.5em;
					    margin-bottom: 0.55em;
					    display: block;
					    &:hover{
						    text-decoration: underline;
					    }
				    }
				    &.by{
					    opacity: 0.6;
					    font-size: 1em;
					    span{
						    &.category{
							    background-repeat: no-repeat;
							    background-position: left center;
							    background-size: 20px;
							    padding-left: 34px;
							    &.video, &.webinar, &.recorded-webex{
								    background-image: url(../img/video_icon.png);
							    }
							    &.pdf, &.articles, &.presentation, &.scientific-poster{
								    background-image: url(../img/pdf_icon.png);
								    background-size: 15px;
							    }
							    &.whitepaper, &.case-study, &.white-papers{
								    background-image: url(../img/whitepaper_icon.png);
								    background-size: 15px;
							    }
							    &.fact-sheet{
								    background-image: url(../img/icons/fact-sheet-icon.png);
								    background-size: 15px;
							    }
						    }
					    }
				    }
			    }
			}
			&.news_item.sb{
				.img{
					background-image: url(../img/icons/news.png);
					background-size: 50%;
				}
			}
			&.blog_item.sb{
				.img{
					background-image: url(../img/icons/blog.png);
					background-size: 55%;
				}
			}
			&.events_item.sb{
				.img{
					background-image: url(../img/icons/event.png);
					background-size: 55%;
				}
			}
		}
		a{
			&.more{
				font-family: 'Helvetica Neue LT W01_75 Bold';
				font-size: 1.13em;
				margin-top: 1.25em;
				float: right;
			    i{
				    color: #b30560;
				    margin-left: 0.3em;
			    }
		    }
		}
	}
	.resource_holder, .news_holder{
		.resources{
			overflow: hidden;
		}
		.item{
			width: 100%;
			border-bottom: 0;
			border-top: 1px solid $color_gray;
			&.hide{
				display: none;
			}
		}
		a.more{
			border-top: 1px solid $color_gray;
			width: 100%;
			text-align: center;
			margin-top: 0;
			padding-top: 1.25em;
		}
	}
	form{
		&.assay_search{
			width: 100%;
			background-color: #f4f4f4;
			border-radius: 5px;
			overflow: hidden;
			padding: 3em 3%;
			h4{
				margin-bottom: 1em;
			}
			input[type="text"]{
				box-sizing: border-box;
			    background-color: white;
			    outline: 0;
			    border: 2px solid #a9abac;
			    border-radius: 5px;
			    font-family: 'Helvetica Neue LT W01_51488890';
			    font-size: 17px;
			    width: 100%;
			    padding: 12px 19px;
			    margin-right: 1.65em;
			    -moz-transition: border 0.15s linear;
				-webkit-transition: border 0.15s linear;
				-o-transition-property: border 0.15s linear;
				-ms-transition-property: border 0.15s linear;
				transition-property: border 0.15s linear;
				&:hover, &:focus{
					border: 2px solid #232827;
				}
				::placeholder {
				    color: #232827;
				}
				
				:-ms-input-placeholder {
				    color: #232827;
				}
				
				::-ms-input-placeholder {
				    color: #232827;
				}
			}
			::placeholder {
				color: #232827;
			}
			
			:-ms-input-placeholder {
			    color: #232827;
			}
				
			::-ms-input-placeholder {
			    color: #232827;
			}
			button[type="submit"]{
				-webkit-appearance: none;
				-moz-appearance:none;
			    background-color: black;
			    color: white;
			    font-family: 'Helvetica Neue LT W01_75 Bold';
			    font-size: 16px;
			    padding: 14px 19px 14px;
			    border: 0;
			    outline: none;
			    border-radius: 5px;
// 			    width: 184px;
				width: 100%;
			    text-align: left;
			    box-sizing: border-box;
			    margin: 1em 0;
			    border: 2px solid black;
			    cursor: pointer;
			    @include transition(all, 0.15s);
			    i{
				    float: right;
				    font-size: 0.9em;
				    position: relative;
				    top: 2px;
			    }
			    &:hover{
				    border: 2px solid black;
				    background-color: white;
				    color: black;
			    }
			}
			.filter{
				float: right;
				position: relative;
				width: 100%;
				label{
					color: $color_gray;
					font-size: 13px;
					line-height: 48px;
					margin-right: 4%;
					float: left;
					width: 18%;
				}
				select{
					-webkit-appearance: none;
					-moz-appearance:none;
				    background-color: white;
				    font-family: 'Helvetica Neue LT W01_75 Bold';
				    color: black;
				    border: 2px solid black;
				    border-radius: 5px;
				    font-size: 16px;
				    padding: 13px 19px;
				    text-align: left;
				    box-sizing: border-box;
				    width: 307px;
				    position: relative;
				    width: 78%;
					float: right;
					cursor: pointer;
				}
				select::-ms-expand {
				    display: none;
				}
				&:after{
					font-family: "Font Awesome 5 Pro";
				    content: "\f107";
				    color: black;
				    position: absolute;
				    top: 16px;
				    font-size: 18px;
				    right: 20px;
				    font-weight: 900;
				    cursor: pointer;
				    pointer-events: none;
				}
			}
		}
		&.resource_search{
			width: 100%;
// 			background-color: #f4f4f4;
			border-radius: 5px;
			overflow: hidden;
			padding: 3em 3%;
			h4{
				margin-bottom: 2em;
				span.section-title{
					margin-top: 0;
					max-width: 100%;
				}
			}
			input[type="text"]{
				box-sizing: border-box;
			    background-color: white;
			    outline: 0;
			    border: 2px solid #a9abac;
			    border-radius: 5px;
			    font-family: 'Helvetica Neue LT W01_51488890';
			    font-size: 17px;
			    width: 100%;
			    padding: 12px 19px;
			    margin-right: 1.65em;
			    -moz-transition: border 0.15s linear;
				-webkit-transition: border 0.15s linear;
				-o-transition-property: border 0.15s linear;
				-ms-transition-property: border 0.15s linear;
				transition-property: border 0.15s linear;
				&:hover, &:focus{
					border: 2px solid #232827;
				}
				::placeholder {
				    color: #232827;
				}
				
				:-ms-input-placeholder {
				    color: #232827;
				}
				
				::-ms-input-placeholder {
				    color: #232827;
				}
			}
			::placeholder {
				color: #232827;
			}
			
			:-ms-input-placeholder {
			    color: #232827;
			}
				
			::-ms-input-placeholder {
			    color: #232827;
			}
			button[type="submit"]{
				-webkit-appearance: none;
				-moz-appearance:none;
			    background-color: #232827;
			    color: white;
			    font-family: 'Helvetica Neue LT W01_75 Bold';
			    font-size: 16px;
			    padding: 13px 17px 13px;
			    border: 0;
			    outline: none;
			    border-radius: 5px;
// 			    width: 184px;
				width: 100%;
			    text-align: left;
			    box-sizing: border-box;
			    margin: 1em 0;
			    border: 2px solid #232827;
			    cursor: pointer;
			    @include transition(all, 0.15s);
			    i{
				    float: right;
				    font-size: 0.9em;
				    position: relative;
				    top: 2px;
			    }
			    &:hover{
				    background-color: white;
				    color: #232827;
			    }
			}
			.filter{
				float: right;
				position: relative;
				width: 100%;
				label{
					color: $color_gray;
					font-size: 13px;
					line-height: 48px;
					margin-right: 4%;
					float: left;
					width: 18%;
				}
				select{
					-webkit-appearance: none;
					-moz-appearance:none;
				    background-color: white;
				    font-family: 'Helvetica Neue LT W01_75 Bold';
				    color: black;
				    border: 2px solid black;
				    border-radius: 5px;
				    font-size: 16px;
				    padding: 13px 19px;
				    text-align: left;
				    box-sizing: border-box;
				    width: 307px;
				    position: relative;
				    width: 78%;
					float: right;
					cursor: pointer;
				}
				select::-ms-expand {
				    display: none;
				}
				&:after{
					font-family: "Font Awesome 5 Pro";
				    content: "\f107";
				    color: black;
				    position: absolute;
				    top: 16px;
				    font-size: 18px;
				    right: 20px;
				    font-weight: 900;
				    cursor: pointer;
				    pointer-events: none;
				}
			}
		}
		&.news_search{
			width: 100%;
// 			background-color: #f4f4f4;
			border-radius: 5px;
			overflow: hidden;
			padding: 3em 3%;
			h4{
				margin-bottom: 2em;
			}
			input[type="text"]{
				box-sizing: border-box;
			    background-color: white;
			    outline: 0;
			    border: 2px solid #a9abac;
			    border-radius: 5px;
			    font-family: 'Helvetica Neue LT W01_51488890';
			    font-size: 17px;
			    width: 100%;
			    padding: 12px 19px;
			    margin-right: 1.65em;
			    -moz-transition: border 0.15s linear;
				-webkit-transition: border 0.15s linear;
				-o-transition-property: border 0.15s linear;
				-ms-transition-property: border 0.15s linear;
				transition-property: border 0.15s linear;
				&:hover, &:focus{
					border: 2px solid #232827;
				}
				::placeholder {
				    color: #232827;
				}
				
				:-ms-input-placeholder {
				    color: #232827;
				}
				
				::-ms-input-placeholder {
				    color: #232827;
				}
			}
			::placeholder {
				color: #232827;
			}
			
			:-ms-input-placeholder {
			    color: #232827;
			}
				
			::-ms-input-placeholder {
			    color: #232827;
			}
			button[type="submit"]{
				-webkit-appearance: none;
				-moz-appearance:none;
			    background-color: #232827;
			    color: white;
			    font-family: 'Helvetica Neue LT W01_75 Bold';
			    font-size: 16px;
			    padding: 13px 17px 13px;
			    border: 0;
			    outline: none;
			    border-radius: 5px;
// 			    width: 184px;
				width: 100%;
			    text-align: left;
			    box-sizing: border-box;
			    margin: 1em 0;
			    border: 2px solid #232827;
			    @include transition(all, 0.15s);
			    i{
				    float: right;
				    font-size: 0.9em;
				    position: relative;
				    top: 2px;
			    }
			     &:hover{
				    background-color: white;
				    color: #232827;
			    }
			}
			.filter{
				float: right;
				position: relative;
				width: 100%;
				label{
					color: $color_gray;
					font-size: 13px;
					line-height: 48px;
					margin-right: 4%;
					float: left;
					width: 18%;
				}
				select{
					-webkit-appearance: none;
					-moz-appearance:none;
				    background-color: white;
				    font-family: 'Helvetica Neue LT W01_75 Bold';
				    color: black;
				    border: 2px solid black;
				    border-radius: 5px;
				    font-size: 16px;
				    padding: 13px 19px;
				    text-align: left;
				    box-sizing: border-box;
				    width: 307px;
				    position: relative;
				    width: 78%;
					float: right;
					margin-bottom: 1em;
					cursor: pointer;
					&:last-child{
						margin-bottom: 0;
					}
				}
				select::-ms-expand {
				    display: none;
				}
				&:after{
					font-family: "Font Awesome 5 Pro";
				    content: "\f107";
				    color: black;
				    position: absolute;
				    top: 16px;
				    font-size: 18px;
				    right: 20px;
				    font-weight: 900;
				    z-index: 2;
				    cursor: pointer;
				    pointer-events: none;
				}
			}
		}
	}
	.single_top{
		
	}
	.nf-form-cont{
		margin: 2em 0 3em;
		overflow: hidden;
		h3{
			display: none;
		}
		.nf-form-fields-required{
			color: #b1005d;
			font-style: italic;
			font-size: 1.05em;
			margin-bottom: 1.25em;
			span.ninja-forms-req-symbol{
				color: #b1005d;
			}
		}
		.nf-field-container{
			margin-bottom: 1.1em;
		}
		.one-half{
			float: left;
			width: 100%;
			margin-left: 0%;
			&.nm{
				margin-left: 0;
			}
		}
		.full{
			float: left;
			width: 100%;
		}
		.nf-mp-footer{
			width: 100%;
			float: left;
		}
		.nf-next-item{
			&:after{
				font-family: "Font Awesome 5 Pro";
			    content: "\f105";
			    color: white;
			    position: absolute;
			    top: 11px;
			    font-size: 17px;
			    right: 15px;
			    font-weight: 900;
			    @include transition(color, 0.15s);
			}
			&:hover{
				&:after{
					color: #232827
				}
			}
		}
		.nf-previous-item{
			&:after{
				font-family: "Font Awesome 5 Pro";
			    content: "\f104";
			    color: white;
			    position: absolute;
			    top: 11px;
			    font-size: 17px;
			    right: 15px;
			    font-weight: 900;
			    @include transition(color, 0.15s);
			}
			&:hover{
				&:after{
					color: #232827
				}
			}
		}
		.pad{
			margin-top: 1.5em;
		}
		.recaptcha-wrap{
			label{
				display: none;
			}
		}
		input[type="text"], input[type="email"], input[type="tel"]{
			outline: none;
			border: 2px solid #a9abac;
			box-sizing: border-box;
			border-radius: 5px;
			font-family:'Helvetica Neue LT W01_51488890';
			font-size: 1.0em;
			-webkit-appearance: none;
			-moz-appearance:none;
			padding: 0.85em 1em;
			-moz-transition: border 0.15s linear;
			-webkit-transition: border 0.15s linear;
			-o-transition-property: border 0.15s linear;
			-ms-transition-property: border 0.15s linear;
			transition-property: border 0.15s linear;
			&:hover, &:focus{
				border: 2px solid #232827;
			}
		}
		input[type="button"]{
			-webkit-appearance: none;
			-moz-appearance:none;
		    background-color: #232827;
		    color: white;
		    border: 0;
		    outline: 0;
		    border-radius: 5px;
		    font-family: 'Helvetica Neue LT W01_75 Bold';
		    font-size: 17px;
		    padding: 13px 69px 13px 16px;
		    cursor: pointer;
		    border: 2px solid #232827;
		    @include transition(all, 0.15s);
		    &:hover{
			    background-color: white;
			    color: #232827;
		    }
		}
		.submit-btn{
			-webkit-appearance: none;
			-moz-appearance:none;
		    background-color: #232827;
		    color: white;
		    border: 0;
		    outline: 0;
		    border-radius: 5px;
		    font-family: 'Helvetica Neue LT W01_75 Bold';
		    font-size: 17px;
		    padding: 13px 69px 13px 16px;
		    cursor: pointer;
		    border: 2px solid #232827;
		    @include transition(all, 0.15s);
		    &:hover{
			    background-color: white;
			    color: #232827;
		    }
		}
		textarea{
			outline: none;
			border: 2px solid #a9abac;
			box-sizing: border-box;
			border-radius: 5px;
			font-family:'Helvetica Neue LT W01_51488890';
			font-size: 1.0em;
			-webkit-appearance: none;
			-moz-appearance:none;
			padding: 0.85em 1em;
			height: 100px;
			@include transition(border, 0.15s);
			&:hover, &:focus{
				border: 2px solid #232827;
			}
		}
		label{
			font-weight: 400;
			text-align: left;
		}
		.nf-error-required-error{
			position: absolute;
		    font-size: 12px;
		    bottom: -10px;
		}
		.nf-form-content {
			overflow: hidden;
		}
		.hidden-submit{
// 			display: none;
		}
		.listcheckbox-container, .listradio-container{
			ul{
				overflow: hidden;
				padding: 15px 10px !important;
				li{
					display: block;
					float: left;
					width: 100% !important;
					margin-bottom: 25px !important;
					&:first-child{
					}
					&:before{
						display: none;
					}
					label{
						font-size: 0.9em;
						margin-top: -8px;
						padding-left: 5px;
					}
					input[type="checkbox"], input[type="radio"]{
						position: relative;
						top: 2px;
						visibility: hidden;
						+ label{
							&::before{
								content: "";
							    position: absolute;
							    left: -8px;
							    top: -8px;
							    width: 28px;
							    height: 28px;
							    border: 2px solid #a9abac;
							    border-radius: 5px;
							    visibility: visible;
							    @include transition(border, 0.15s);
							}
							&::after{
								font-family: "Font Awesome 5 Pro";
							    content: "\f00c";
							    color: #232827;
							    position: absolute;
							    top: -8px;
							    font-size: 17px;
							    left: -1px;
// 							    right: -3px;
							    font-weight: 900;
							    display: none;
							    visibility: visible;
							}
							&:hover, &:focus{
								&:before{
									border: 2px solid #232827;
								}
							}
						}
						&.checked, &.nf-checked{
							+ label{
								&::after{
									display: block;
								}
							}
						}
					}
					input[type="radio"]{
						+ label{
							&::before{
								border-radius: 50%;
							}
							&::after{
								content: "";
							    width: 19px;
							    height: 19px;
							    background-color: #232827;
							    border-radius: 50%;
							    top: -3px;
							    left: -3px;
							}
							
						}
					}
				}
			}
		}
		.submit-container{
			float: left;
			margin-top: 1.5em;
			position: relative;
			&:after{
				font-family: "Font Awesome 5 Pro";
			    content: "\f105";
			    color: white;
			    position: absolute;
			    top: 17px;
			    font-size: 17px;
			    right: 15px;
			    font-weight: 900;
			    @include transition(color, 0.15s);
			}
			&:hover{
				&:after{
					color: #232827
				}
			}
		}
		select{
			outline: none;
			border: 2px solid #a9abac;
			box-sizing: border-box;
			border-radius: 5px;
			font-family:'Helvetica Neue LT W01_51488890';
			font-size: 1.0em;
			-webkit-appearance: none;
			-moz-appearance:none;
			padding: 0.85em 1em;
			background-color: white;
			@include transition(border, 0.15s);
			&:hover, &:focus{
				border: 2px solid #232827;
			}
		}
		select::-ms-expand {
		    display: none;
		}
		::placeholder {
			color: $color_gray;
			font-family:'Helvetica Neue LT W01_51488890';
		}
		:-ms-input-placeholder {
			color: $color_gray;
			font-family:'Helvetica Neue LT W01_51488890';
		}
		::-ms-input-placeholder {
			color: $color_gray;
			font-family:'Helvetica Neue LT W01_51488890';
		}
	}
	.tableholder{
		width: 100%;
		overflow: scroll;
		margin-top: 2em;
	}
	table{
		&.assay{
			width: 768px;
			border: 1px solid $color_gray;
			border-radius: 5px;
			border-spacing: 0;
			thead{
				th{
					font-family: 'Helvetica Neue LT W01_75 Bold';
					text-align: left;
					border-right: 1px solid $color_gray;
					border-bottom: 1px solid $color_gray;
					font-size: 1.1em;
					padding: 0.8em 1.2em 0.8em 1.2em;
					&:last-child{
						border-right: 0;
					}
				}
			}
			tbody{
				tr{
					td{
						font-family:'Helvetica Neue LT W01_51488890';
						border-right: 1px solid $color_gray;
						font-size: 1.17em;
						padding: 0.8em 1.2em 0.8em 1.2em;
						&:last-child{
							border-right: 0;
						}
					}
					&:nth-child(odd){
						background-color: #f4f4f4;
					}
				}
			}
		}
	}
	.search_results{
		padding: 0;
	    width: 94%;
	    margin: 0 auto;
	    max-width: 1540px;
		overflow: hidden;
		.left, .right{
			width: 100%;
		}
		.right{
			hr{
// 				display: none;
			}
		}
		.holder.hide{
			display: none;
		}
		a{
			&.search-post-link{
				color: #b1005d;
			}
			&:hover{
				text-decoration: underline;
			}
			&.more{
				font-family: 'Helvetica Neue LT W01_75 Bold';
				font-size: 1.35em;
				float: left;
			    i{
				    color: #b30560;
				    margin-left: 0.3em;
			    }
		    }
		}
		h4{
			margin-bottom: 0.5em;
		}
		p{
			font-size: 1.05em;
			line-height: 1.7em;
			margin-top: 0;
		}
		hr{
			margin: 2em auto;
		}
	}
	footer{
            background-color: #0a0b0a;
		margin-top: 5em;
		.container{
                    color:#FFF;
			overflow: hidden;
			border-top: 1px solid #232827;
		}
                a{
                    color:#FFF;
                }
		.col{
			width: 100%;
			float: left;
			padding-top: 2.5em;
			&:first-child{
				margin-left: 0;
			}
		}
		h4{
			margin-top: 0;
			font-size: 1.445em;
		    font-weight: 400;
		    font-family: 'Helvetica Neue LT W01_75 Bold';
		    margin-bottom: 0.2em;
		}
		p{
			line-height: 1.6em;
		}
		form{
			margin-top: 2.3em;
			input[type="text"]{
				border: 2px solid #aaabac;
			    font-family: 'Helvetica Neue LT W01_51488890';
			    color: #232827;
			    border-radius: 5px;
			    box-sizing: border-box;
			    font-size: 17px;
			    width: 63%;
			    padding: 8px 0 8px 18px;
			    -moz-transition: border 0.15s linear;
				-webkit-transition: border 0.15s linear;
				-o-transition-property: border 0.15s linear;
				-ms-transition-property: border 0.15s linear;
				transition-property: border 0.15s linear;
				&:hover, &:focus{
					border: 2px solid #232827;
				}
			}
			::placeholder {
				color: $color_gray;
				font-family:'Helvetica Neue LT W01_51488890';
			}
			:-ms-input-placeholder {
				color: $color_gray;
				font-family:'Helvetica Neue LT W01_51488890';
			}
			::-ms-input-placeholder {
				color: $color_gray;
				font-family:'Helvetica Neue LT W01_51488890';
			}
			input[type="submit"]{
				outline: none;
			    font-family: 'Helvetica Neue LT W01_75 Bold';
			    font-size: 0.88em;
			    padding: 12px 0 10px;
			    border-radius: 5px;
			    line-height: 16px;
			    cursor: pointer;
			    color: white;
			    background-color: black;
			    border: 2px solid black;
			    width: 92px;
			    margin-left: 4%;
			    text-align: center;
			    -webkit-appearance: none;
			    -moz-appearance:none;
				@include transition(all, 0.15s);
				&:hover{
					background-color: white;
					color: black;
				}
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			&.sub-menu{
				display: none;
			}
			li{
				margin-bottom: 1.35em;
				&:before{
					content: "";
					display: none;
				}
				a{
					position: relative;
					&:after{
						content: "";
						position: absolute;
						bottom: -2px;
						left: 0;
						width: 0%;
						height: 1px;
						background-color: $color_gray;
						@include transition(width, 0.15s);
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
			&#menu-main-nav-1{
				li{
					a{
						font-family:'Helvetica Neue LT W01_75 Bold';
					}
				}
			}
/*
			&#menu-main-nav-1{
				li{
					ul{
						display: none;
					}
					a{
						font-family:'Helvetica Neue LT W01_75 Bold';
						font-size: 1.15em;
						position: relative;
						&:after{
							content: "";
							position: absolute;
							bottom: -2px;
							left: 0;
							width: 0%;
							height: 1px;
							background-color: $color_gray;
							@include transition(width, 0.15s);
						}
						&:hover{
							&:after{
								width: 100%;
							}
						}
					}
				}
			}
*/
			&.social{
				margin-top: 2em;
				li{
					display: inline-block;
					margin-right: 1.5em;
					&:last-child{
						margin-right: 0;
					}
					a{
						color: #727f79;
						font-size: 1.8em;
						@include transition(color, 0.15s);
						&:hover{
							&:after{
								display: none;
							}
							color: $color_gray;
						}
					}
				}
			}
		}
		.copyright{
			width: 100%;
			float: left;
			border-top: 1px solid $color_gray;
			margin-top: 5em;
			p{
				text-align: center;
			    color: #a9aaaa;
			    font-size: 0.92em;
			    margin: 4em 0;
				a{
					color: $color_gray;
					margin-left: 1em;
				}
			}
		}
	}
	table.cookielawinfo-classic{
		font-family: 'Helvetica Neue LT W01_51488890', Helvetica, Arial, sans-serif;
		color: #232827;
	}
	@media only screen and (min-width: 600px) {
		
	}
	@media only screen and (min-width: 768px) {
		font-size: 85%;
		header{
			
		}
		.home_col{
			.fl-col{
				width: 61% !important;
				margin: 0;
				float: left;
				&.fl-col-small{
					width: 37% !important;
					margin-right: 2%;
				}
			}
		}
		.resource_holder, .news_holder{
			.item{
				width: 47.5%;
				margin-right: 2.5%;
				float: left;
				.img{
					width: 183px;
					height: 123px;
				}
				.content{
					width: calc(100% - 214px);
				}
				&:not(.activeitem){
					&:nth-child(even){
						margin-right: 0;
					}
				}
				&.activeitem{
					&.mn{
						margin-right: 0;
					}
				}
			}
		}
		
		.nf-form-cont{
			.one-half-container{
				float: left;
				width: 48.5%;
				margin-left: 3%;
				&.nm{
					margin-left: 0;
				}
			}
			.listcheckbox-container, .listradio-container{
				ul{
					li{
						display: inline-block;
						float: left;
						width: initial !important;
						margin-bottom: 15px !important;
						&:first-child{
							margin-right: 5% !important;
						}
						margin-right: 5% !important;
					}
				}
			}
		}
		.fl-col-width-callout-1{
			width: 37%;
			margin-right: 0 !important;
			padding: 6.5em 0;
		}
		.fl-col-width-callout-2{
			width: 2%;
			margin-right: 0 !important;
		}
		.fl-col-width-callout-3{
			width: 61%;
			margin-right: 0 !important;
			padding: 6.5em 0;
			hr{
				display: block;
			}
		}
		.search_results{
			.left{
				width: 37%;
				margin-right: 2%;
				float: left;
			}
			.right{
				width: 61%;
				float: left;
				hr{
					display: block;
				}
			}
		}
		.fl-col-width-1-4, .fl-col-sidebars-1{
// 			width: 23.4%;
			width: 23.125%;
		}
		.fl-col-width-1-3{
// 			width: 48.7%
			width: 31.666%;
			padding: 6em 0;
			hr{
				display: block;
			}
			&:first-child{
				padding: 6em 0;
			}
			&.lp{
				padding: 0;
			}
		}
		.fl-col-width-1-2, .fl-col-sidebars-2{
// 			width: 48.7%
			width: 48.75%;
		}
		.fl-col-sidebars-1, .fl-col-sidebars-2{
			border-top: 1px solid $color_gray;
			margin: 7em auto;
		}
		.fl-col-sidebars-1:first-child{
			display: block;
		}
		.tableholder{
			overflow: hidden;
		}
		table{
			&.assay{
				width: 100%;
			}
		}
		.fl-col-group{
			.fl-col{
				margin-right: 2.5%;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		footer{
                    background-color: #0a0b0a;
			.container{
				border-top: 0px;
                                padding-top: 60px;
                                padding-bottom: 60px;
                                color:#FFF;
                                display: flex;
			}
			.col{
				width: 29.25%;
				margin-left: 2%;
                                padding-left: 1%;
                                flex:1;
                                &:nth-of-type(2){
                                    border-left: 1px solid #FFF;
                                    border-right: 1px solid #FFF;
                                    padding-left: 5%; 
                                }
                                a{
                                    color:#FFF;
                                }
                                .copyRight{
                                    color:#5e6060;
                                    font-size: 14px;
                                    a{
                                        color:#FFF;
                                    }
                                }
			}
                        
		}
		.entry-content-page{
			&.post{
				.info{
					.tags{
						width: 85%;
					}
					.sharethis-inline-share-buttons{
						float: right;
					}
				}
			}
		}
		form{
			&.assay_search{
				input[type="text"]{
					width: 40.224%;
					max-width: 756px;
				}
				.filter{
					width: 31.5%;
					label{
						width: 25%;
					}
					select{
						width: 71%;
					}
				}
				button[type="submit"]{
					width: 17.6%;
					margin: 0;
				}
			}
			&.resource_search{
				input[type="text"]{
					width: 40.224%;
					max-width: 630px;
				}
				.filter{
					width: 31.5%;
					label{
						width: 25%;
					}
					select{
						width: 71%;
					}
				}
				button[type="submit"]{
					width: 17.6%;
					margin: 0;
				}
			}
			&.news_search{
				input[type="text"]{
					width: 33%;
					max-width: 630px;
				}
				.filter{
					width: 31.5%;
					label{
						width: 25%;
					}
					select{
						width: 71%;
						float: left;
						margin-right: 5%;
						margin-bottom: 0;
						&:last-child{
							margin-right: 0;
						}
					}
				}
				button[type="submit"]{
					width: 16.6%;
					margin: 0;
				}
			}
		}
	}
	@media only screen and (min-width: 968px) {
		font-size: 90%;
		header{
			a.menu_open, a.menu_close{
				display: none;
			}
			ul{
				&.main_nav{
					position: absolute;
					right: 1.25em;
					width: auto;
					top: -1em;
					li{
						margin-right: 1.5em;
						display: inline-block;
						position: relative;
						padding: 0;
						width: auto;
						&.menu-item-mobile{
							display: none !important;
						}
						a{
							font-size: 1em;
							left: 0;
							padding: 1.05em 9%;
							display: block;
							&:before{
								top: 1.2em;
							}
						}
						&.hover{
							a{
								&:before{
									display: block;
								}
							}
						}
					}
				}
				&#menu-utility-nav{
					li{
						&:after{
							padding: 0 0.3em 0 0.6em;
						}
					}
				}
				.sub-menu{
					position: absolute;
				    top: 0;
				    left: 0;
				    z-index: 2;
				    border-radius: 5px;
				    width: 26em;
				    padding-top: 2.9em;
				    margin-left: -2em;
				    left: 0;
				    margin-top: 0;
				    margin-bottom: 0;
				    border-bottom: 0px;
// 				    border-bottom: 1px solid $color_gray;
				    li{
					    display: block; 
					    border-left: 1px solid $color_gray;
					    border-right: 1px solid $color_gray;
// 					    padding: 20px 25px !important;
					    a{
						    font-size: 1.15em !important;
					    }
				    }
				    .sub-menu{
					    left: -395px;
					    padding-top: 0;
					    padding-right: 2.2em;
					    margin-top: 0;
					    margin-bottom: 0;
					    li{
						    border-top: 1px solid #232827;
						    &:first-child{
							    border-top-left-radius: 5px;
							    border-top-right-radius: 5px;
							    border-top: 0px;
							    position: relative;
							    a{
								    border-top-left-radius: 5px;
									border-top-right-radius: 5px;
							    }
						    }
						    &:last-child{
							    border-bottom-left-radius: 5px;
							    border-bottom-right-radius: 5px;
							    position: relative;
							    border-bottom: 0px;
							    a{
								    border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
							    }
						    }
						    a{
							    font-size: 1.2em !important;
							    padding: 1.05em 9%;
						    }
					    }
				    }
				}
			}
			a{
				&.logo{
					img{
						width: 200px;
					}
				}
			}
			.search_form_holder{
				width: 0%;
				top: 3.5em;
				position: absolute;
			}
			.search_form{
				.close{
					display: inline-block;
				}
				input[type="text"]{
					width: calc(100% - 35px);
				}
				button{
					right: 45px;
				}
			}
			#nav_holder{
			    position: relative;
			    z-index: 2;
			    background-color: transparent;
			    height: initial;
				width: calc(100% - 250px);
				float: right;
				overflow: visible;
				opacity: 1;
				display: block;
			}
			#main_nav{
				overflow: visible;
				margin-top: 1.5em;
				a.search{
					display: inline-block;
				}
			}
			#utility_nav_mobile{
				display: none;
			}
			#utility_nav{
				display: block;
			}
			ul{
				.sub-menu{
					padding-top: 4.7em;
				}
				&.main_nav{
					li{
						margin-right: 2.5em;
						a{
							font-size: 1.15em !important;
						}
					}
				}
				&#menu-utility-nav{
					li{
						&:after{
							padding: 0 1.2em;
						}
					}
				}
			}
			a{
				&.logo{
					img{
						width: 244px;
					}
				}
			}
		}
		form{
			&.news_search{
				input[type="text"]{
					width: 33%;
					max-width: 630px;
				}
/*
				.filter{
					width: 43.5%;
					label{
						width: 15%;
					}
					select{
						width: 38%;
						float: left;
						margin-right: 5%;
						&:last-child{
							margin-right: 0;
						}
					}
				}
*/
				button[type="submit"]{
					width: 15.6%;
					margin: 0;
				}
			}
		}
		
	}
	@media only screen and (min-width: 1200px) {
		font-size: 95%;
		header{
			ul{
				.sub-menu{
					padding-top: 4.4em;
				}
				&.main_nav{
					li{
						margin-right: 3.5em;
					}
				}
			}
		}
		form{
			&.assay_search{
				input[type="text"]{
					width: 52.224%;
				}
				.filter{
					width: 27.5%;
					label{
						width: 18%;
					}
					select{
						width: 78%;
					}
				}
				button[type="submit"]{
					width: 12.6%;
					margin: 0;
				}
			}
			&.resource_search{
				input[type="text"]{
					width: 52.224%;
				}
				.filter{
					width: 20.5%;
					label{
						width: 23%;
					}
					select{
						width: 72%;
					}
				}
				button[type="submit"]{
					width: 10.6%;
					margin: 0;
				}
			}
			&.news_search{
				input[type="text"]{
					width: 40.224%;
				}
				.filter{
					width: 20.5%;
					label{
						width: 23%;
					}
					select{
						width: 72%;
					}
				}
				button[type="submit"]{
					width: 10.6%;
					margin: 0;
				}
			}
		}
	}
	@media only screen and (min-width: 1500px) {
		font-size: 100%;
		header{
			ul{
				.sub-menu{
					padding-top: 3.1em;
				}
			}
		}
	}
}